<div class="contact-wrapper">
   <h1 class="contact-heading">Get in touch with us</h1>
   <div class="cc-wrap">
      <div class="img-container"><img src="/assets/images/query.png" alt="The Image Goes Here"></div>
      <div class="form-container">
         <form id="contactForm">
            <input type="text" name ="name" class="contact-inp" placeholder="Full Name">
            <input type="email" name="email" class="contact-inp" placeholder="Email">
            <div class="query-info">
               <select name="selectRole" class="contact-inp shorter-rowinp">
                  <option value="role">Select Role</option>
                  <option value="student">Student</option>
                  <option value="parent">Parent</option>
                  <option value="institute">Institute</option>
               </select>
               <div class="contact-num contact-inp longer-rowinp">
                  <div class="default-code">+91 -</div>
                  <input type="number" name ="phoneNumber" class="num-input" placeholder="Contact Number">
               </div>
            </div>
            <button type="submit" class="query-submit">Submit Details</button>
         </form>
      </div>
   </div>
</div>