<h1 class="qry-heading">In case of queries, contact us</h1>
<div class="qry-content">
   <div class="qry-img">
      <img src="/assets/images/query.png" alt="" />
   </div>
   <form class="contact" id ="contactForm">
      <div class="qry-enter-data">
         <input type="text" class="qry-data" name ="name" placeholder="Full Name" />
         <input type="email" class="qry-data" name="email" placeholder="Email address" />
         <div class="qry-role">
            <select name="selectRole">
               <option value="role">Select a Role</option>
               <option value="student">Student</option>
            </select>
            <div class="qry-contact">
               <div>+91</div>
               <input type="tel" name ="phoneNumber" placeholder="-  Contact Number" />
            </div>
         </div>
         <button type ="submit" class="qry-submit">Submit Details</button>
      </div>

      <div class="success-submission">
         RESPONSE SUBMITTED
      </div>
   </form>
</div>
</div>