<div class="crs_content">
  <div class="tech_crs courses">
     <h1 style="font-family: Avenir-Next">Technical Courses</h1>
     <div class="crs_card_wrap">
        <div class="crs_card crs_hig">
           <div class="crs_dte">Starting Soon</div>
           <div class="crs_nme">
              <span class="crs_des">Front-End Web Development</span>
              <span class="crs_tpe">Offline Training Program</span>
           </div>
           <div class="crs_rate">
              <div class="stars">
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
              </div>
              <div class="r_num">4.5(90 ratings)</div>
           </div>
           <div class="crs_expl">
              <a href="/course/1">
              <button class="crs_info">Learn More</button></a
                 >
              <a href="/register"> <button class="crs_rgstr">Register</button></a>
           </div>
        </div>
        <div class="crs_card">
           <div class="crs_dte">Starting Soon</div>
           <div class="crs_nme">
              <span class="crs_des">Data Structures and Algorithms</span>
              <span class="crs_tpe">Offline Training Program</span>
           </div>
           <div class="crs_rate">
              <div class="stars">
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
              </div>
              <div class="r_num">4.5(90 ratings)</div>
           </div>
           <div class="crs_expl">
              <button class="crs_info">Learn More</button>
              <button class="crs_rgstr">Register</button>
           </div>
        </div>
        <div class="crs_card">
           <div class="crs_dte">Starting Soon</div>
           <div class="crs_nme">
              <span class="crs_des">Android Development</span>
              <span class="crs_tpe">Offline Training Program</span>
           </div>
           <div class="crs_rate">
              <div class="stars">
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
              </div>
              <div class="r_num">4.5(90 ratings)</div>
           </div>
           <div class="crs_expl">
              <button class="crs_info">Learn More</button>
              <button class="crs_rgstr">Register</button>
           </div>
        </div>
        <div class="crs_card crs_non_hig">
           <div class="crs_dte">Starting Soon</div>
           <div class="crs_nme">
              <span class="crs_des">Full Stack Web Development</span>
              <span class="crs_tpe">Offline Training Program</span>
           </div>
           <div class="crs_rate">
              <div class="stars">
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
              </div>
              <div class="r_num">4.5(90 ratings)</div>
           </div>
           <div class="crs_expl">
              <button class="crs_info">Learn More</button>
              <button class="crs_rgstr">Register</button>
           </div>
           <div class="extra-space"></div>
        </div>
        <button class="sld_rgt" onclick="SlideRightPlease(this)">
        <img src="/assets/images/svgs/next.svg" />
        </button>
        <button class="sld_lft" onclick="SlideLeftPlease(this)">
        <img src="/assets/images/svgs/next.svg" />
        </button>
        
        
     </div>
     
  </div>
  <div class="non_tech_crs courses">
     <h1 class="crs_head"  style="font-family: Avenir-Next">Non-Technical Courses</h1>
     <div class="crs_card_wrap">
        <div class="crs_card crs_hig">
           <div class="crs_dte">Starting Soon</div>
           <div class="crs_nme">
              <span class="crs_des">Understanding Finance</span>
              <span class="crs_tpe">Offline Training Program</span>
           </div>
           <div class="crs_rate">
              <div class="stars">
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
              </div>
              <div class="r_num">4.5(90 ratings)</div>
           </div>
           <div class="crs_expl">
              <button class="crs_info">Learn More</button>
              <button class="crs_rgstr">Register</button>
           </div>
        </div>
        <div class="crs_card">
           <div class="crs_dte">Starting Soon</div>
           <div class="crs_nme">
              <span class="crs_des">Content Writing</span>
              <span class="crs_tpe">Offline Training Program</span>
           </div>
           <div class="crs_rate">
              <div class="stars">
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
              </div>
              <div class="r_num">4.5(90 ratings)</div>
           </div>
           <div class="crs_expl">
              <button class="crs_info">Learn More</button>
              <button class="crs_rgstr">Register</button>
           </div>
        </div>
        <div class="crs_card">
           <div class="crs_dte">Starting Soon</div>
           <div class="crs_nme">
              <span class="crs_des">Sales and Marketing</span>
              <span class="crs_tpe">Offline Training Program</span>
           </div>
           <div class="crs_rate">
              <div class="stars">
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
              </div>
              <div class="r_num">4.5(90 ratings)</div>
           </div>
           <div class="crs_expl">
              <button class="crs_info">Learn More</button>
              <button class="crs_rgstr">Register</button>
           </div>
        </div>
        <div class="crs_card crs_non_hig">
           <div class="crs_dte">Starting Soon</div>
           <div class="crs_nme">
              <span class="crs_des">Personal development</span>
              <span class="crs_tpe">Offline Training Program</span>
           </div>
           <div class="crs_rate">
              <div class="stars">
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
                 <img src="/assets/images/svgs/Filled-Star.svg" />
              </div>
              <div class="r_num">4.5(90 ratings)</div>
           </div>
           <div class="crs_expl">
              <button class="crs_info">Learn More</button>
              <button class="crs_rgstr">Register</button>
           </div>
           <div class="extra-space"></div>
        </div>
        <button class="sld_rgt" onclick="SlideRightPlease(this)">
        <img src="/assets/images/svgs/next.svg" />
        </button>
        <button class="sld_lft" onclick="SlideLeftPlease(this)">
        <img src="/assets/images/svgs/next.svg" />
        </button>
     </div>
  </div>
</div>