<header id="Head">
    <div class="sub-head">
       <div class="logo-container">
          <a href="/">
            <img src="/assets/images/icons/Logo.png" class="LogoOnly" alt="Edudictive Logo">
            <img src="/assets/images/icons/Logo Font only.png" class="LogoFont" alt="Edudictive Logo">
         </a>
       </div>
       <nav class="header-menu">
          <ul onclick="toggle(event)">
             <li><a href="/" class="hvr-underline-from-left">HOME</a></li>
             <li class="prog_menu" onclick="programs()">
                <span class="hvr-underline-from-left">PROGRAMS</span>
                <div class="prog-menu">
                   <div onclick="LinkHandle('/programs/schools')">School Programs</div>
                   <div onclick="LinkHandle('/programs/colleges')">College Programs</div>
                </div>
             </li>
             <li><a href="/events" class="hvr-underline-from-left">EVENTS</a></li>
             <li><a href="http://blogs.edudictive.in/" target="__blank" class="hvr-underline-from-left">BLOGS</a></li>
             <li><a href="/about-us" class="hvr-underline-from-left">ABOUT US</a></li>
             <li><a href="/contact-us" class="hvr-underline-from-left">CONTACT US</a></li>
          </ul>
       </nav>
       <div class="user-handle">
          <form action="GET" id="Head-search" autocomplete="off">
             <i class="fas fa-search fa-lg" id="search-mag"></i>
             <input type="search" placeholder="Search programs" id="search-bar" name="q"></input>
          </form>
       </div>
       <!-- user control nav bar -->
       <div class="user-cntr_pane">
          <div id="cntrl_img" onclick="acccontrol()"><img src="/assets/images/svgs/account.svg"></div>
          <div class="cntrl_sett">
             <div class="cntrl_links">
                <div class="cntrl_lhead">Hey user !</div>
                <div class="cntrl_lcontain">
                   <ul>
                      <li><a href="/user/dashboard">My Profile</a></li>
                      <li><a href="/user/">My Courses</a></li>
                      <li><a href="/user/">Prefrences</a></li>
                      <li><a href="/">Community</a></li>
                      <li><a href="/">Help Center</a></li>
                      <li><a href="/faq">FAQ</a></li>
                   </ul>
                </div>
             </div>
             <div class="cntrl_buttons">
                <div class="sh_cntrl_txt">
                   <div class="empty_container">unknown</div>
                   <span>Sign in to continue</span>
                </div>
                <div class="cntrl_btncontain">
                   <button class="log-in" onclick="LinkHandle('/user/login')">Sign in</button>
                   <button class="sign-up" onclick="LinkHandle('/user/register')">Create new account</button>
                </div>
             </div>
          </div>
       </div>
       <!-- user control nav bar -->
       <div class="hamburger" onclick="hamoperation(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
       </div>
       <div class="ham-menu">
          <div class="search-box">
             <i class="fal fa-search fa-lg"></i>
             <input type="text" placeholder="Search programs"></input>
          </div>
          <div class="ham-links">
             <div class="list-items">
                <ul>
                   <li><a href="/">Home</a></li>
                   <li><a>Programs</a></li>
                   <li><a href="/events">Events</a></li>
                   <li><a href="http://blogs.edudictive.in/">Blogs</a></li>
                   <li><a href="/about-us">About</a></li>
                   <li><a href="/contact-us">Contact Us</a></li>
                </ul>
             </div>
             <div class="user-img">
                <div class="img-div" onclick="LinkHandle('/user/login')">
                   <img src="/assets/images/svgs/account.svg" alt="">
                   <!-- <span><% if(user){ %> <%= user.ufName %> <% } else { %> My Account <% } %> </span> -->
                </div>
             </div>
          </div>
       </div>
    </div>
 </header>