<header class="mainHeader">
    <div class="subHeader">
        <div class="HeaderLinks">
            <div class="logoContainer">
                <img src="/assets/img/icons/Logo.svg" alt="">
                <img src="/assets/img/icons/Logo Font Only.svg" alt="">
            </div>
    
            <div class="menuContainer">
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="/courses"><li>Courses</li></a>
                    <a href="/events"><li>Events</li></a>
                    <a href="/edudictive-student-partner"><li>Student Partners</li></a>
                    <a href="/about-us"><li>About</li></a>
                    <span class="moreOptions"><li>
                        <span data-state="unclicked">More</span>
                        <div class="moreOptionDropDown">
                            <div class="uptrip"><div class="uptri"></div></div>
                            <a href="https://blogs.edudictive.in" target="__blank"><div class="moption">Blogs</div></a>
                            <a href="/"><div class="moption">Community</div></a>
                            <div class="moption">Request a Session</div>
                            <div class="moption">FAQ</div>
                        </div>
                    </li></span>
                </ul>
            </div>
        </div>

        <div class="clientControl">
            <div class="searchContainer">
                <div class="searchBox propertyBoxInitial">
                    <input type="text" placeholder="Search for programs">
                    <img class="crossimage" src="/assets/images/Cross.png" alt="">
                </div>
                <div class="searchIcon"><img src="/assets/images/svgs/search.svg" alt=""></div>
            </div>
            <div class="userHandler">
                <div class="namedHandler">Log in</div>
                <div class="slash"></div>
                <div class="namedHandler">Sign up</div>
                <div class="controlSettings" data-state="unclicked">
                    <div class="controlLinks">
                       <div class="controlHead">
                          <% if(!user){ %>
                             Hey user !
                          <% } else { %>
                             Hi <%= user.ufName %>
                          <% } %>
                       </div>
                       <div class="controlLinkContainer">
                          <ul>
                             <li><a href="/user/dashboard">My Profile</a></li>
                             <li><a href="/user/">My Courses</a></li>
                             <li><a href="/user/">Prefrences</a></li>
                             <li><a href="/">Community</a></li>
                             <li><a href="/">Help Center</a></li>
                             <li><a href="/faq">FAQ</a></li>
                          </ul>
                       </div>
                    </div>
                    <div class="controlButtons">
                       <div class="shControlText">
                           <div class="triWrap"><div class="uppertriangle"></div></div>
                          <div class="emptyContainer">
                             <% if(!user){ %>
                                unknown
                             <% } else { %>
                                verified
                             <% } %>
                          </div>
                          <% if(!user){ %>
                             <span>Sign in to continue</span>
                          <% } else { %>
                             <span>Hope you are doing good</span>
                          <% } %>
                       </div>
                       <div class="controlButtonsContainer">
                          <% if(!user){ %>
                             <button class="logInBtn" onclick="LinkHandle('/user/login')">Sign in</button>
                             <button class="signUpBtn" onclick="LinkHandle('/user/register')">Create new account</button>
                          <% } else { %>
                             <button class="logInBtn" onclick="LinkHandle('/user/dashboard')">Profile</button>
                             <button class="signUpBtn" onclick="LinkHandle('/user/logout')">Logout</button>
                          <% } %>
                       </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>

    <div class="mobileSubHeader">
        <div class="logoContainer">
            <img src="/assets/img/icons/Logo.svg" alt="">
            <img src="/assets/img/icons/Logo Font Only.svg" alt="">
        </div>

        <div class="hamBurgerIcon">
            <div class="hamLine"></div>
            <div class="hamLine"></div>
            <div class="hamLine"></div>
        </div>

        <div class="mobileMenu">
            <div class="linkContainer"></div>
            <div class="userLogoContainer">
                <img src="/assets/images/svgs/account.svg" alt="">
            </div>
        </div>
    </div>
</header>
