<header class="mainHeader">
    <div class="subHeader">
        <div class="HeaderLinks">
            <div class="logoContainer">
                <img src="/assets/img/icons/Logo.svg" alt="">
                <img src="/assets/img/icons/Logo Font Only.svg" alt="">
            </div>
    
            <div class="menuContainer">
                <ul>
                    <a href=""><li>Home</li></a>
                    <span class="programOptions"><li>
                        <span>Programs</span>
                    </li></span>
                    <a href=""><li>Events</li></a>
                    <a href=""><li>Student Partners</li></a>
                    <a href=""><li>About</li></a>
                    <span class="moreOptions"><li>
                        <span>More</span>
                    </li></span>
                </ul>
            </div>
        </div>

        <div class="clientControl">
            <div class="searchContainer">
                <div class="searchBox propertyBoxInitial">
                    <input type="text" placeholder="Search for programs">
                    <img class="crossimage" src="/assets/images/Cross.png" alt="">
                </div>
                <div class="searchIcon"><img src="/assets/images/svgs/search.svg" alt=""></div>
            </div>
            <div class="userHandler">
                <button>Log in</button>
                <div class="slash"></div>
                <button>Sign up</button>
            </div>
        </div>
    </div>

    <div class="mobileSubHeader">
        <div class="logoContainer">
            <img src="/assets/img/icons/Logo.svg" alt="">
            <img src="/assets/img/icons/Logo Font Only.svg" alt="">
        </div>

        <div class="hamBurgerIcon">
            <div class="hamLine"></div>
            <div class="hamLine"></div>
            <div class="hamLine"></div>
        </div>

        <div class="mobileMenu">
            <div class="linkContainer"></div>
            <div class="userLogoContainer">
                <img src="/assets/images/svgs/account.svg" alt="">
            </div>
        </div>
    </div>
</header>
