<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/About.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
    <title>Edudictive - About Us</title>
  </head>
  <body>
    <%-include('./Components/Header.ejs') %>
  <div class="about-us">
    <div class="intro-div">
      <h1>Providing school and college students with </br>industry standard skills</h1>
    </div>
    <div class="about-edu">
      <h1>About Edudictive</h1>
      <div class="about-edu-block">
        <div class="about-edu-written">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
        <div class="about-edu-illust">
          <h4>Illustration required here</h4>
        </div>
      </div>
    </div>
    <div class="our-mission">
      <h1>Our Mission</h1>
      <div class="our-mission-block">
        <div class="our-mission-illust">Illustration required here</div>
        <p class="our-mission-para">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua.
        </p>
      </div>
      <div class="our-mission-imgs">
        <div>
          <img src="/assets/images/svgs/lecture.svg" alt="" />
          <div>
            3 workshops <br />
            done till now
          </div>
        </div>
        <div>
          <img src="/assets/images/svgs/raise-hand.svg" alt="" />
          <div>
            150+ students <br />
            participated
          </div>
        </div>
        <div>
          <img src="/assets/images/svgs/faculty.svg" alt="" />
          <div>
            Top Notch Faculty <br />
            for students
          </div>
        </div>
      </div>
    </div>
    <div class="student-get">
      <h1>What do our students get ?</h1>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam.
      </p>
    </div>

    <div class="student-get-block">
      <div class="student-get-content">
        <img src="/assets/images/svgs/Browsing Guy Blue.svg" alt="" />
        <h4>Providing skill-based training programs</h4>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam.
        </p>
      </div>

      <div class="student-get-content">
        <img src="/assets/images/svgs/group.svg" alt="" />
        <h4>Helping build your network</h4>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam.
        </p>
      </div>
    </div>

    <div class="student-get-block">
      <div class="student-get-content">
        <img src="/assets/images/svgs/internship.svg" alt="" />
        <h4>Internship and Referral Opportunities</h4>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam.
        </p>
      </div>

      <div class="student-get-content">
        <img src="/assets/images/svgs/Bulb Blue.svg" alt="" />
        <h4>Interesting real-world projects</h4>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam.
        </p>
      </div>
    </div> 
    <!-- recent deveopments -->

      <div class="rec_dvlpmnts">
        <h1>Recent developments</h1>
        <div class="rd_contain">
          <div class="rd_pretext">
              <h2 class="rd_hdline">We are live with our official website and app!</h2>
              <button class="rd_cbtn" onclick="eventini(this)">Know More</button>           
          </div>
          <div class="rd_aftrtext">
              <h2 class="rd_hdline rd_aftrtexthead">We are live with our official website and app!</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Magni corporis dicta obcaecati ea reprehenderit expedita, 
                 placeat unde qui saepe consequuntur beatae facilis architecto 
                 veritatis fugit quia praesentium eius at dolorem id repudiandae
                 possimus a. Saepe voluptates architecto fugit molestias in
                 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Magni corporis dicta obcaecati ea reprehenderit expedita, 
                 placeat unde qui saepe consequuntur beatae facilis architecto 
                 veritatis fugit quia praesentium eius at dolorem id repudiandae
                 possimus a. Saepe voluptates architecto fugit molestias in.</p>
              <button class="rd_cbtn" onclick="eventini(this)">Back</button>
          </div>
        </div>
      </div>

    <!-- recent developments -->
    <div class="our-team">
      <h1>Our Team</h1>
      <div class="our-team-row">
        <div class="team-member">
          <div class="member-img"></div>
          <h3>Name</h3>
          <h4>Position</h4>
        </div>
        <div class="team-member">
          <div class="member-img"></div>
          <h3>Name</h3>
          <h4>Position</h4>
        </div>
        <div class="team-member">
          <div class="member-img"></div>
          <h3>Name</h3>
          <h4>Position</h4>
        </div>
        <div class="team-member">
          <div class="member-img"></div>
          <h3>Name</h3>
          <h4>Position</h4>
        </div>
        <div class="team-member">
          <div class="member-img"></div>
          <h3>Name</h3>
          <h4>Position</h4>
        </div>
        <div class="team-member">
          <div class="member-img"></div>
          <h3>Name</h3>
          <h4>Position</h4>
        </div>
        <div class="team-member">
          <div class="member-img"></div>
          <h3>Name</h3>
          <h4>Position</h4>
        </div>
      </div>
    </div>
    <div class="edu-news">
      <h1>Edudictive in news</h1>
      <div class="edu-story">
        <div class="edu-story2">
          <h4>The story of Edudictive</h4>
          <p>How a startup initiative aims to make learning ‘addictive’</p>
          <p id="edu-by2">By Timesnext</p>
          <button>Know More</button>
        </div>
        <div class="edu-story2">
          <h4>The story of Edudictive</h4>
          <p>How a startup initiative aims to make learning ‘addictive’</p>

          <p id="edu-by2">By Timesnext</p>
          <button>Know More</button>
        </div>
        <div class="edu-story2">
          <h4>The story of Edudictive</h4>
          <p>How a startup initiative aims to make learning ‘addictive’</p>

          <p id="edu-by2">By Timesnext</p>
          <button>Know More</button>
        </div>
      </div>
      <%-include('./Components/ContactForm.ejs') %>
    </div>
  </div>
  <%-include('./Components/Footer.ejs') %>
    <script src="/assets/scripts/index.js"></script>
    <script src="/assets/scripts/newchirag.js"></script>
  </body>
</html>
