
<style>
    .progress-bar {
        height: 50px;
        width: 250px;
        border: 2px solid #f5bf2b;
        border-radius: 40px;
        padding: 0 5px;
        box-sizing: border-box;
        margin: 50px auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      
      #progress-bar-fill {
        height: 80%;
        width: 0;
        border-radius: 40px;
        background-color: #f6b500;
        display: flex;
        align-items: center;
        transition: width 0.2s;
        justify-content: flex-end;
        padding: 0 10px;
        position: relative;
      }
      
      #progress-bar-text {
        font-weight: bold;
        font-family: Roboto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        position: absolute;
        left: 10%;
        transition: 0.2s;
      }
    </style>
<form id ="courseId" >
<div class="form-group"> 
    <label for="">Key</label> 
    <input class="form-control" type="Number"  name="key">
</div>
    <div class="form-group">  
     <label for="">Name</label>   
    <input class="form-control" type="text"  name="courseID">
    </div>
    <div class="form-group"> 
        <label for="">Price</label> 
        <input class="form-control" type="number"  name="price">
</div>
<div class="form-group"> 
    <label for="">About</label> 
    <textarea class="form-control" type="text"  name="about"></textarea>
</div>

<div class="form-group"> 
    <label for="">What will you learn?</label> 
    <textarea class="form-control" type="text"  name="contents"></textarea>
</div>

<div class="form-group"> 
    <label for="">Who should opt?</label> 
    <textarea class="form-control" type="text"  name="whoShouldOpt"></textarea>
</div>
<div class="form-group"> 
    <label for="">image</label> 
    <input class="form-control" type="file"  name="cImage">
</div>

<div class="form-group"> 
    <label for="">course Structure</label> 
    <input class="form-control" type="file"  name="cStructure">
</div>

<div class="form-group"> 
    <label for="">Duration</label> 
    <input class="form-control" type="text"  name="duration">
</div>

<div class="form-group"> 
    <label for="">start date</label> 
    <input class="form-control" type="date"  name="startDate">
</div>
<div class="form-group"> 
    <input type="radio" name="mode" value="offline">
    <label for="male">Offline</label><br>
    <input type="radio"  name="mode" value="online">
    <label for="female">Online</label><br>
</div>
    <button type="submit"  class="btn btn-primary" name="button">Save</button>
</form>   


<div class="progress-bar" id="ProgressBar">
    <div id="progress-bar-fill">
        <span id="progress-bar-text">0%</span>
    </div>
</div>
<script src="/assets/scripts/index.js"></script>
<script src="/assets/scripts/ajax/courseUpload.js"></script>








