<!DOCTYPE html>
<html lang='en'>
<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Summer Bootcamp by Edudictive</title>
	<link rel='stylesheet' href='/assets/css/HOMEOFFER.css' />
</head>
<body>
	<!-- navbar -->
	<div class="navbar">
		<nav class="nav__mobile"></nav>
		<div class="container">
			<div class="navbar__inner">
				<a class="navbar-brand" style="max-width: 150px; height: auto;margin-top: 40px; margin-bottom: 25px;" href="/summerbootcamp">
					<img src="/assets/images/HOMEOFFER/navbar_icon.svg" alt="">
				</a>
				<nav class="navbar__menu">
					<ul>

					</ul>
				</nav>
				<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
			</div>
		</div>
	</div>
	<!-- Authentication pages -->
	<div class="auth">
		<div class="container">
			<div class="auth__inner">
				<div class="auth__media">
					<img src="/assets/images/HOMEOFFER/undraw_selfie.svg">
				</div>
				<div class="auth__auth">`
					<h1 class="auth__title">Register for 7-Day Summer Bootcamp</h1>
					<p>Fill in all the details to proceed</p>
					<form method='post' action="/summerbootcamp/register" autocompelete="new-password" role="presentation" class="form">

						<label>Email</label>
						<input type="email" name="uEmail" id='email' placeholder="you@example.com">

						<label>Full Name</label>
						<input type="text" name="uName" placeholder="Your Name">

						<label>Phone Number</label>
						<input type="number" name="uNum" placeholder="Your Name">

						<label>Course</label>
						<select name="uCourse" required>
							<option value="" disabled selected>Please select an option</option>
							<option value="webd">Web Development - HTML, CSS, JS</option>
							<option value="finance">Understanding Finance</option>
							<option value="ui">UI/UX Development</option>
							<option value="graphics">Graphic Desinging</option>
						</select>

						<label>School/College</label>
						<select name="uInsti" required>
							<option value="" disabled selected>Please select an option</option>
							<option value="Collge">College</option>
							<option value="School">School</option>
						</select>

						<label>Institute Name</label>
						<input type="text" name="csName" placeholder="Please enter the name of your school/college" autocomplete="off">

						<label>Referral/Promo Code</label>
						<input type="text" name="KeyCode" placeholder="Example: EDSUM20">
						
						<button type='submit' class="button button__accent">Register</button>
					</form>
				</div>
			</div>
		</div>
	</div>
<script src='/assets/scripts/HOMEOFFER/app.js'></script>
</body>
</html>