<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edudictive | Wishlist</title>
</head>
<body>
    <button type="submit"  id="add-to-cart" name="button">add to cart</button>
</body>
<script src="/assets/scripts/ajax/signHandle.js"></script>
</html>