<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/Schools.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/College.css" />
    <title>Document</title>
  </head>
  <body>
  <%-include('./Components/Header.ejs') %>
    <!-- first division -->
    <div class="school-container">
      <div class="edu-for-sch-written">
        <div class="headline_wrap">
          <div class="headline_div">
            <div class="edudictive-for">
              <img src="/assets/images/svgs/logo_written.svg" />
              <h2>for</h2>
            </div>
            <h1 class="tyofinsti">Collegs</h1>
          </div>
          <img class="illust-school" src="/assets/images/svgs/college-hero.svg">
        </div>
        <div class="para-contain">
          <p class="para">
            Lorem ipsum dolor sit amet, consetetur sadipsc elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat. 
          </p>
          <div class="edu-for-sch-buttons">
            <button class="view-programs">View Programs</button>
            <button class="school-plans">School Plans</button>
          </div>
        </div>
      </div>

      <!-- second division -->

      <div class="heading-data">
        <h1 class="headline">
          Best programs for college students
        </h1>
        <p class="head-text">
          We work by setting up entrepreneurship & skill development clubs promoting skills that will help students to be on a path to entrepreneurship from a very early age.
        </p>
      </div>

      <div class="illus-container">
        <div class="illus">
          <div class="illus-required">
            <img src="/assets/images/svgs/education-college.svg">
          </div>
          <div class="illus-data">
            <p class="illus-tag">
              A training program, not a workshop !
            </p>
            <p class="illus-content">
              Unlike many workshops, we provide complete training programs along
              with dedicated hands-on sessions, AMA sessions to clear the
              slightest of your doubts and help you master the skill.
            </p>
          </div>
        </div>

        <div class="illus">
          <div class="illus-required">
            <img src="/assets/images/svgs/ama-college.svg">
          </div>
          <div class="illus-data">
            <p class="illus-tag">
              AMA and Discussion sessions
            </p>
            <p class="illus-content">
              The students can choose from various independent projects for
              showcasing their skills in respective domains.
            </p>
          </div>
        </div>
      </div>

      <div class="illus-container">
        <div class="illus">
          <div class="illus-required">
            <img src="/assets/images/svgs/network-college.svg">
          </div>
          <div class="illus-data">
            <p class="illus-tag">
              Build network as you learn
            </p>
            <p class="illus-content">
              Students get to build strong networks from the very start which
              can provide them with the opportunities to get referrals and
              recommendations later.
            </p>
          </div>
        </div>
        <div class="illus">
          <div class="illus-required">
            <img src="/assets/images/svgs/project-college.svg">
          </div>
          <div class="illus-data">
            <p class="illus-tag">
              Interesting projects in each domain
            </p>
            <p class="illus-content">
              Your ideas define your creativity. But we provide you help with
              entrepreneurial methods for showcasing and pitching ideas,
              eventually making a successful business.
            </p>
          </div>
        </div>
      </div>

      <!-- COURSES DIVISION -->
      <div class="sub-div-a">
        <h1>Training Programs for Students</h1>
        <p>
          We offer a number of short-term (8-16 hours) and long-term training programs around the year.
        </p>
      </div>
      <%-include("./Components/Courses.ejs") %> 


      <!-- campus ambassador -->
     <div class="camp-container-outer">
      <h2>
        Campus Ambassador Program
      </h2>
      <div class="camp-container">
        <div class="camp-written">
         <p style="margin-top: -4px;">Get an oppotunity to be a part of Edudictive and earn exclusive rewards, exclusive event passes and much more !</p>
         <button onclick="LinkHandle('/campus-ambassador')">Learn More</button>
        </div>
     
      </div>
    </div>
     
      

    <%-include('./Components/ContactForm.ejs') %>
    <%-include('./Components/Footer.ejs') %>
    <script src="/assets/scripts/index.js"></script>
  </body>
</html>
