<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/espForm.css" />
    <title>Document</title>
  </head>
  <body>
    <%-include('./Components/Header.ejs') %>
    <div class="form-container">
       <h1 class= "form-heading">Edudictive Student Partner</h1>
       <h3 class= "form-subheading">Application Form</h3>
       <h5 class = "pers-details">Enter your personal details</h5>
        <form method="POST" class = "espform">
            <div class="input-container">
            <input type="text" placeholder="Full Name" name="fName" required />
            <input type="text" placeholder="College Name" name="cName" required />

            <div class="input-flexer">
              <input type="hidden" name="country" id="countryId" value="IN"/>
                <select name="pState" class="states order-alpha" id="stateId" required>
                  <option value="">Select State</option>
                </select>
                <select name="pCity" class="cities order-alpha" id="cityId">
                  <option value="">Select City</option>
                </select>
              </div>
              <input type="email" placeholder="Email Address" name="pEmail" required />
              <input type="number" placeholder="Contact Number" name="ppNum" required />
              <select name="pAvailability" class="availability">
                <option value="3">3 Months</option>
              <option value="6">6 months</option>
            </select>
            <div class="questions">
                <h5 class="question-head">Answer the following questions</h5>
                <h5 class ="question-1">What makes you fit to be an Edudictive Student Partner</h5>
                <textarea name="Q1" placeholder="Enter your answer in not more than 700 words" rows="4" cols="50"></textarea>

                <h5 class ="question-1">How would you host an event organized by Edudictive at your institution</h5>
                <textarea name="Q2" placeholder="Enter your answer in not more than 1000 words" rows="4" cols="50"></textarea>

                <h5 class ="question-1">Brief your relevant past experiences(if any)</h5>
                <textarea name="Q3" placeholder="Enter your answer here" rows="4" cols="50"></textarea>
            </div>
         </div>
         <div class="sub-buttons">
             <button class="sub-btn"> Submit </button>
            </div>
         
        </form>
    </div>

    <%-include('./Components/Footer.ejs') %>
    <script src="/assets/scripts/index.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="//geodata.solutions/includes/statecity.js"></script>
  </body>
</html>
