<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/ForgotPass.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
  </head>
  <body>
    <%-include('./Components/Header.ejs') %>
    <div class="sign-help">
      <div class="sign-block">
        <form class="sign-container">
          <h1 class="heading">Sign in help</h1>

          <input
            class="enter-data"
            id="enter-email"
            type="email"
            placeholder="Enter your Email ID or Phone number"
          />
          <div class="forgot">
            <div class="forgot1">
              <input type="radio" name="details" class="frgt-radio-btn" />
              <p>Forgot Username</p>
            </div>
            <div class="forgot1">
              <input type="radio" name="details" class="frgt-radio-btn" />
              <p>Forgot Password</p>
            </div>
          </div>

          <button class="continue">Continue</button>
        </form>
      </div>
    </div>

    <div class="sign-help">
      <div class="sign-block">
        <div class="sign-container">
          <h1 class="heading">Sign in help</h1>
          <p id="desc">
            Enter the 6-digit OTP sent on your registered mobile number
          </p>
          <input id="otp" type="text" placeholder="- - - - - -" />
          <button class="continue">Continue</button>
        </div>
      </div>
    </div>

    <div class="sign-help">
      <div class="sign-block" id="change-password">
        <div class="sign-container">
          <h1 class="heading">Change Password</h1>

          <input
            class="enter-data"
            id="enter-password"
            type="email"
            placeholder="Enter new password"
          />
          <input
            class="enter-data"
            id="re-enter-password"
            type="email"
            placeholder="Re-enter new password"
          />

          <button class="continue">Continue</button>
        </div>
      </div>
    </div>

    <div class="sign-help">
      <div class="sign-block">
        <div class="finish-container">
          <div class="tick-icon"><i class="fas fa-check"></i></div>
          <p>Your password has been successfully updated !</p>
          <button class="continue">Finish</button>
        </div>
      </div>
    </div>
    <%-include('./Components/Footer.ejs') %>
  </body>
</html>
