.dashboard-nav {
  margin: 3rem auto;
  width: max-content;
  display: flex;
  align-items: center;

  a {
    margin: 0 1.8rem;
    height: 40px;
    font: bold 24px Avenir-Next;
    text-decoration: none;
    color: #c0c0c0;
  }

  .active-head {
    color: #408cff;
  }
}
