@import './config';
@import './include-media';

.mainHeader{
    display: flex;
    height: 125px;
    width: 100%;
    box-shadow: 0px 10px 61px #00000017;
    position: fixed;
    background-color: #ffffff;
    z-index: 10;

    .subHeader{
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 75%;
        margin: 0 auto;
        align-items: center;
        .HeaderLinks{
            display: flex;
            align-items: center;
            height: max-content !important;
            width: max-content !important;
            .logoContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                height: min-content;
                width: min-content;
        
                img{
                    &:first-child{
                        height: 3rem;
                        @include media('>sm','<=lg'){
                            height: 2rem;
                        }
                    }
                    &:last-child{
                        height: 1.8rem;
                        @include media('>sm','<=lg'){
                         height: 1.2rem;   
                        }
                    }
                }
        
                img+img{
                    margin: 0.8rem;
                    @include media('>sm','<=lg'){
                     margin: 0.4rem;       
                    }
                }
            }
            .menuContainer{
                margin: 0 1.5rem;
                ul{
                    display: flex;
                    align-items: center;
                    margin: 0;
                    a{
                        margin: 0 1rem;
                        li{
                            list-style: none;
                            color: black;
                            font-family: $font-primary;
                            font-weight: bolder;
                            font-size: 1.1rem;

                            @include media('>sm','<=xl'){
                                font-size: 1rem;
                            }
                        }
                        @include media('>sm','<=xl'){
                            margin: 0 0.6rem;   
                        }
                    }
                    span{
                        margin: 0 1rem;
                        cursor: pointer;
                        li{
                            list-style: none;
                            color: black;
                            font-family: $font-primary;
                            font-weight: bolder;
                            font-size: 1.1rem;
                            span{
                                margin: 0;
                            }
                            @include media('>sm','<=xxl'){
                                font-size: 1rem;
                            }
                        }
                        @include media('>sm','<=xxl'){
                            margin: 0 0.6rem;   
                        }
                    }
                }

                .moreOptions{
                    position: relative;
                }

                .moreOptionDropDown{
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    top: 50px;
                    left: -5rem;
                    width: 200px;
                    background-color: #ffffff;
                    box-shadow: 6px 6px 15px #00000029;
                    border-radius: 0.5rem !important;
                    transition: 0.2s;

                    .uptrip{
                        filter: drop-shadow(6px 0px 15px #00000029);
                    }

                    .uptri{
                        position: absolute;
                        content: '';
                        height: 25px;
                        width: 40px;
                        background-color: #ffffff;
                        top: -25px;
                        left: 40%;
                        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                    }

                    a {
                        margin: 0;
                        color: black;
                    }

                    .moption{
                        padding: 1rem;
                        box-sizing: border-box;
                        transition: 0.2s;

                        &:hover{
                            background-color: #e9e9e9;
                        }
                    }
                }
                @include media('>sm','<=xxl'){
                 width: max-content;           
                }
            }
        }
        .clientControl{
            display: flex;
            align-items: center;
            justify-content: center;
            .searchContainer{
                display: flex;
                margin: 1rem;
                align-items: center;
                justify-content: flex-end;
                position: relative;
                .searchBox{
                    position: relative;
                    input{
                        height: 50px;
                        font-size: 1rem;
                        font-family: $font-secondary;
                        color: #707070;
                        opacity: 0.4;
                        box-sizing: border-box;
                        border: none;
                        background-color: #e6dede;
                    }

                    img{
                        position: absolute;
                        right: 1rem;
                        height: 1.2rem;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        width: 1.2rem;
                        cursor: pointer;
                    }
                }
                .searchIcon{
                    transition: 0.3s;
                    img{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        right: 1rem;
                        cursor: pointer;
                    }
                }
            }
            .userHandler{
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                cursor: pointer;
                user-select: none;

                .namedHandler{
                    padding: 0;
                    font-family: $font-primary;
                    font-weight: bold;
                    font-size: 1.2rem;

                    @include media('>lg','<ib'){
                        font-size: 1rem;
                    }
                }

                .slash{
                    height: 1px;
                    width: 15px;
                    transform: rotate(110deg);
                    background-color: #000000;
                }

                .controlSettings{
                    display: flex;
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    background-color: white;
                    left: -320px;
                    top: 80px;
                    padding: 30px;
                    border-radius: 40px;
                    box-shadow: 6px 6px 25px #00000029;
                    transition: 0.2s;
                    user-select: none;
                    -webkit-user-select: none;
                }

                .controlLinks,
                .controlLinkContainer ul,
                .shControlText, 
                .controlButtons,
                .controlButtonsContainer{
                    flex-direction: column;
                    display: flex;
                }

                .shControlText{
                    position: relative;
                    width: 100%;
                    height: 80px;
                    align-items: center;
                    justify-content: flex-end;
                    padding-left: 30px;
                    box-sizing: border-box;
                    font: 200 16px $font-primary;

                    .triWrap{
                        z-index: -1;
                        position: absolute;
                        top: -70px;
                        right: 35px;
                        filter: drop-shadow(6px 0px 15px #00000029);
                        .uppertriangle{
                            height: 3rem;
                            width: 3.5rem;
                            box-shadow: inset 50px 0 #ffffff;
                            clip-path: polygon(50% 0, 0 100%, 100% 100%);
                            background-color: #ffffff;
                        }
                    }
                }

                .emptyContainer{
                    border: 1px solid #707070;
                    padding: 5px;
                    border-radius: 5px;
                    font: 200 12px Proxima-Nova;
                    color: #707070;
                    position: absolute;
                    top: 0px;
                    right: 0;
                    display: flex;
                }

                .controlLinkContainer ul,
                .controlHead{
                    min-width: 125px;
                    align-items: flex-start !important;
                    font: bold 20px $font-secondary;
                    color: #4e4e4e;
                    display: flex;
                }

                .controlLinkContainer ul{
                    display: flex;
                    li{
                        display: flex;
                        font: 200 18px $font-primary;
                        margin: 5px 0;
                        a{
                            color: #4e4e4e;
                        }
                    }
                }

                .controlButtonsContainer{
                    display: flex;
                    border-left: 3px solid #f1f1f1;
                    padding-left: 30px;
                    box-sizing: border-box;
                    padding: 20px;

                    button{
                        display: flex;
                        width: 250px;
                        height: 50px;
                        border-radius: 12px;
                        font: Bold 14px Avenir-Next;
                        justify-content: center;
                        align-items: center;
                    }

                    .logInBtn{
                        background-color: #408cff;
                        color: #ffffff;
                        margin-bottom: 10px;
                    }

                    .signUpBtn{
                        background-color: #ffffff;
                        border: 2px solid #464646d6;
                        color: #464646d6;
                        margin-top: 10px;
                    }
                }
                @include media('<xl'){
                    cursor: default !important;
                }
            }
            @include media('>sm','<=lg'){
             display: none;               
            }
            @include media('>lg','<=xl'){
                margin-right: 2rem;
            }
        }
        @include media('<=sm'){
            display: none;
        }
        @include media('>sm','<=lg'){
            width: 100%;
            padding: 0 1rem;
            box-sizing: border-box;
        }
        @include media('>lg','<=xxl'){
            width: 95%;
        }
    }

    .mobileSubHeader{
        display: none;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        position: relative;

        .logoContainer{
            display: flex;
            align-items: center;
            img{
                &:first-child{
                    height: 2rem;
                    width: 2rem;
                }
                &:last-child{
                    height: 1.5rem;
                }
            }
            
            img+img{
                margin: 0 0.6rem;
            }
        }

        .hamBurgerIcon{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            height: 40px;
            width: 40px;
            .hamLine{
                position: absolute;
                height: 5px;
                bottom: 0;
                margin: auto;
                border-radius: 5rem;
                background-color: black;
                transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);

                &:nth-child(1){
                    top: -1rem;
                    width: 100%;
                }
                &:nth-child(2){
                    top: 0.3rem;
                    width: 80%;
                }
                &:nth-child(3){
                    top: 1.6rem;
                    width: 60%;
                }
            }
        }

        .mobileMenu{
            visibility: hidden;
            opacity: 0;
            user-select: none;
            transition: 0.5s;
            display: flex;
            flex-direction: column;
            position: absolute;
            justify-content: center;
            top: 80px;
            width: 100%;
            left: 0;
            background-color: white;
            -webkit-box-shadow: 0 8px 6px -6px #00000029;
            -moz-box-shadow: 0 8px 6px -6px #00000029;
            box-shadow: 0 8px 6px -6px #00000029;

            .mobileSearchContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem 0 0 0;

                .mobile-search-input{
                    display: flex;
                    position: relative;
                    justify-content: center;

                    input{
                        height: 50px;
                        font: bold 1.2rem $font-primary;
                        border-radius: 0.8rem;
                        border: 1px solid #cccccc;
                        width: 90vw;
                        padding: 0 1rem 0 3rem;
                        box-sizing: border-box;
                    }

                    img{
                        position: absolute;
                        left: 0.8rem;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        height: 1.4rem;
                        width: 1.4rem;
                    }
                }
            }

            .mobileSubMenu{
                display: flex;
                justify-content: space-between;
                width: 100%;
                user-select: none;
                padding-bottom: 1rem;

                @include media('>=xs','<=sm'){
                    flex-direction: column;
                }
            }

            .linkContainer{
                width: max-content;
                box-sizing: border-box;
                padding-left: 1rem;
                ul{
                    display: flex;
                    flex-direction: column;
                    li{
                        margin: 0.3rem;
                        font-family: $font-primary;
                        font-weight: bold;

                        a, span{
                            color: #535353;
                            margin: 0;
                        }

                        @include media('>=sp','<xs'){
                            font-size: 4vw;
                        }
                        @include media('>=xs','<=sm'){
                            font-size: 1.2rem;
                            margin: 0.5rem;
                        }
                    }
                    @include media('>=xs','<=sm'){
                        flex-direction: row;
                    }
                }
                @include media('>=xs','<=sm'){
                    margin: 0 auto;
                }
            }

            .userLogoContainer{
                width: 50%;
                display: flex;
                box-sizing: border-box;
                padding-top: 1rem;
                justify-content: center;
                padding-right: 1rem;

                .AccBorderDiv{
                    width: 50%;
                    height: max-content;
                    padding: 2rem;
                    box-shadow: 6px 6px 15px 5px #00000029;
                    border-radius: 2rem;

                    img{
                        height: 100%;
                        width: 100%;
                        filter: invert(0.1);
                    }
                    
                    @include media('>=xs','<=sm'){
                      width: 20%;
                      height: max-content;      
                    }
                }

                .tabbtns{
                    display: none;

                    button{
                        height: 50%;
                        width: 90%;
                        border-radius: 0.6rem;
                        margin: 0.4rem 0;
                        font: bold 1.4rem $font-secondary;

                        &:first-child{
                            background-color: #408cff;
                            color: #ffffff;
                        }

                        &:last-child{
                            background-color: #ffffff;
                            border: 2px solid #464646d6;
                            color: #464646d6;
                        }
                    }

                    @include media('>=xs','<=sm'){
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 80%;
                    }
                }
                
                @include media('>=xs','<=sm'){
                    margin: 0 auto;
                    display: flex;
                    width: 70%;
                    justify-content: space-between;
                }
            }
        }

        @include media('<=sm'){
            display: flex;
        }
    }

    @include media('<=lg'){
        height: 80px;
    }
}

.propertyBoxInitial{
    overflow: hidden;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;

    img{
        transition: 0.3s;
        opacity: 0;
    }

    input{
        opacity: 0;
        padding: 0 1rem;
        width: 0 !important;
        transition: 0.5s;
    }
}

.propertyBoxChanged{
    overflow: unset;
    transition: 0.3s;
    visibility: visible;
    opacity: 1;

    img{
        transition: 0.3s;
        opacity: 1;
    }

    input{
        opacity: 0.4;
        animation: paddingAnimation 0.8s forwards;
        width: 280px !important;
        transition: 0.5s;
        @include media('>lg','<ib'){
            width: 13rem !important;
        }
    }
}

@keyframes paddingAnimation{
    0%{
        padding: 0 3rem 0 6rem;
    }
    100%{
        padding: 0 3rem 0 1rem;
    }
}