<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('../Components/GoogleAnalytics.ejs') %>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/index.css" />
  <link rel="stylesheet" href="/assets/css/About.css" />
  <link rel="stylesheet" href="/assets/css/all.min.css" />
  <link rel="stylesheet" href="/assets/css/newheader.css">
  <link rel="icon" href="/assets/img/icons/Logo.svg" />
  <title>Edudictive | About Us</title>
</head>

<body>
  <%-include('../Components/Header.ejs') %>
  <div class="about-us">
    <div class="intro-div">
      <div class="intro-section">
        <h1>Providing school and college students with </br>industry standard skills</h1>
      </div>
    </div>
    <div class="about-edu">
      <h1>About Edudictive</h1>
      <div class="about-edu-block">
        <p>Edudictive is an Entrepreneurship Inclined ed-tech platform emerged to promote the idea of skills and skillset not only in the spheres of college but in the schools as well. We thrive in making students future ready and help them in Upskilling themselves to face the corporate world with ease. So far, we have trained 1900+ students from more than 20 colleges in over 12 domains leaving our footprint in 3 cities. We have also kick started 27 active start-ups and have successfully accomplished over 130 projects with the help of our students.
          Our mission is to create the creators, job givers instead of job seekers.</p>
        <div class="about-edu-illust">
          <img src="../assets/img/svgs/about-desc.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="our-mission">
      <h1>Our Mission</h1>
      <div class="our-mission-block">
        <div class="our-mission-illust">
          <img src="../assets/img/svgs/about-mission.svg" alt="" />
        </div>
        <p class="our-mission-para">
          Our mission is to encourage Entrepreneurship, freelancing and groom the students to build a network and
          provide them with noteworthy skills.
          <br><br>
          <strong>Our mission is to create the creators, job givers instead of job seekers</strong>
        </p>
      </div>
      <div class="our-mission-imgs">
        <div>
          <img src="/assets/img/svgs/lecture.svg" alt="" />
          <div>
            25+ sessions <br />
            done till now
          </div>
        </div>
        <div>
          <img src="/assets/img/svgs/raise-hand.svg" alt="" />
          <div>
            1500+ students <br />
            participated
          </div>
        </div>
        <div>
          <img src="/assets/img/svgs/faculty.svg" alt="" />
          <div>
            Top Notch Faculty <br />
            for students
          </div>
        </div>
      </div>
    </div>
    <div class="student-get">
      <h1>What do our students get ?</h1>
      <p>
        It’s time to start investing in yourself, because learning to create might be the easiest way to change your career.
      </p>
    </div>

    <div class="student-get-block">
      <div class="student-get-content">
        <img src="/assets/img/svgs/about-browsing guy.svg" alt="" />
        <h4>Providing skill-based training programs</h4>
        <p>
          We believe in grooming students with the topnotch skills because At present having a degree isn’t enough,
          getting your hands-on top skills would appraise your chances to get a better place in the industrial world.
        </p>
      </div>

      <div class="student-get-content">
        <img src="/assets/img/svgs/about-group.svg" alt="" />
        <h4>Helping build your network</h4>
        <p>
          While training the students with latest technologies and skills we will also help them in connecting with new
          people to groom and build their own significant network.
        </p>
      </div>
    </div>

    <div class="student-get-block">
      <div class="student-get-content">
        <img src="/assets/img/svgs/about-internship.svg" alt="" />
        <h4>Internship and Referral Opportunities</h4>
        <p>
          We believe in creating confident creators who think beyond the barriers of industrial jobs and look forward to
          create their own entrepreneurship ventures.
        </p>
      </div>

      <div class="student-get-content">
        <img src="/assets/img/svgs/about-bulb.svg" alt="" />
        <h4>Interesting real-world projects</h4>
        <p>
          Balancing the theoretical learning and practical adaption of the same is what creates the biggest difference.
          We will provide the students with plenty of projects which will ultimately make them aware of their
          understanding as per the industrial needs.
        </p>
      </div>
    </div>

    <div class="our-team">
      <div class="student-get">
        <h1>Our Team</h1>
        <p>Edudictive isn’t just an ed-tech platform. Its a community, these are some incredibly skilled members of our
          community.</p>
      </div>
      <div class="our-team-row">
        <div class="team-member" onclick="LinkHandle('https:\/\/www.linkedin.com/in/aahanmalhotra/', 'blank')">
          <div class="member-img"><img src="/assets/img/Team Members/Aahan.jpg"></div>
          <h3>Aahan Malhotra</h3>
          <h4>Founder</h4>
        </div>
        <div class="team-member" onclick="LinkHandle('https:\/\/www.linkedin.com/in/bhupenpal/', 'blank')">
          <div class="member-img"><img src="/assets/img/Team Members/Bhupen.jpg"></div>
          <h3>Bhupen Pal</h3>
          <h4>Full Stack Developer</h4>
        </div>
        <div class="team-member" onclick="LinkHandle('https:\/\/www.linkedin.com/in/abhay-handa-606295174/', 'blank')">
          <div class="member-img"><img src="/assets/img/Team Members/Abhay.jpg"></div>
          <h3>Abhay Handa</h3>
          <h4>Buisness Development Manager</h4>
        </div>
        <div class="team-member"
          onclick="LinkHandle('https:\/\/www.linkedin.com/in/vaishnavi-puri-35678518a/', 'blank')">
          <div class="member-img"><img src="/assets/img/Team Members/Vaishnavi.jpg"></div>
          <h3>Vaishnavi Puri</h3>
          <h4>Content Writer</h4>
        </div>
        <div class="team-member"
          onclick="LinkHandle('https:\/\/www.linkedin.com/in/siddhartha-gupta-2b4a66195/', 'blank')">
          <div class="member-img"><img src="/assets/img/Team Members/Siddharth.jpg"></div>
          <h3>Siddhartha Gupta</h3>
          <h4>Buisness Development Associate</h4>
        </div>
        <div class="team-member" onclick="LinkHandle('https:\/\/www.linkedin.com/in/anmolkumar18/', 'blank')">
          <div class="member-img"><img src="/assets/img/Team Members/Anmol.jpg"></div>
          <h3>Anmol</h3>
          <h4>UI/UX Designer</h4>
        </div>
      </div>
    </div>
    <div class="edu-news">
      <h1>Edudictive in news</h1>
      <div class="edu-story">
        <div class="edu-story2">
          <h4>The story of Edudictive</h4>
          <p>How a startup initiative aims to make learning ‘addictive’</p>
          <p id="edu-by2">By Timesnext</p>
          <button
            onclick="LinkHandle('https:\/\/timesnext.com/the-story-of-edudictive-a-startup-initiative-aims-to-make-learning-addictive/', 'blank')">Know
            More</button>
        </div>
        <div class="edu-story2">
          <h4>Making education </h4>
          <p>Edudictive Is Here To Get You Addicted To Education</p>

          <p id="edu-by2">The Business Press</p>
          <button
            onclick="LinkHandle('https:\/\/thebusinesspress.in/edudictive-is-here-to-get-you-addicted-to-education/', 'blank')">Know
            More</button>
        </div>
        <div class="edu-story2">
          <h4>More adding soon</h4>
          <p>We are confident, that we'll keep adding more</p>

          <p id="edu-by2">By Edudictive</p>
          <button>:)</button>
        </div>
      </div>
      <%-include('../Components/ContactForm.ejs') %>
    </div>
  </div>
  <%-include('../Components/Footer.ejs') %>
  <script src="/assets/js/index.js"></script>
  <script src="/assets/js/dependecies/lottie.js"></script>
  <script src="/assets/js/AboutUs.js"></script>
  <script>
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5f34cb164c7806354da5fdb5/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
</body>

</html>