<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/index.css" />
  <link rel="stylesheet" href="/assets/css/Home.css" />
  <link rel="stylesheet" href="/assets/css/all.min.css" />
  <link rel="stylesheet" href="/assets/css/newheader.css">
  <link rel="icon" href="/assets/img/icons/Logo.svg" />
  <title>Edudictive | Search courses</title>
</head>

<body>
  <%-include("../Components/Header.ejs") %>

  <%-include("../Components/Footer.ejs") %>
  <script src="/assets/scripts/index.js"></script>
  <script src="/assets/scripts/Home.js"></script>
  <script src="/assets/scripts/lottie.js"></script>
  <script src="/assets/js/courses.js"></script>
  <script src="/assets/scripts/newheader.js"></script>
</body>

</html>