<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/newheader.css">
    <link rel="icon" href="/assets/img/icons/Logo.svg" />
    <title>Edudictive | Wishlist</title>
</head>
<body>
    <div>
        <span class="course-name">Introduction to Web Development</span>
        <span class="course-price">9$</span>
        <button type="button" class="add-cart-button" >Add to cart </button>
    </div>
    <div>
        <span class="course-name">Introduction to Finance</span>
        <span class="course-price">9$</span>
        <button type="button" class="add-cart-button" >Add to cart </button>
    </div>
    <div>
        <span class="course-name">Understanding Human Psychology</span>
        <span class="course-price">9$</span>
        <button type="button" class="add-cart-button" >Add to cart </button>
    </div>
    <div class="items">

    </div>      
</body>
<script src="/assets/scripts/cart.js"></script>
</html>