<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/index.css" />
  <link rel="stylesheet" href="/assets/css/all.min.css" />
  <link rel="stylesheet" href="/assets/css/newheader.css">
  <title>Edudictive | Contact Us</title>
  <link rel="icon" href="/assets/img/icons/Logo.svg" />
</head>

<body>
  <%-include('../Components/Header.ejs') %>
  <div class="contact-container">
    <div class="contact-wrapper">
      <h1 class="contact-heading">Get in touch with us</h1>
      <div class="cc-wrap">
         <div class="img-container"><img src="/assets/img/pngs/query.png" alt="The Image Goes Here"></div>
         <div class="form-container">
            <form id="contactForm">
               <input type="text" name ="Name" class="contact-inp" placeholder="Full Name" required>
               <input type="email" name="Email" class="contact-inp" placeholder="Email" required>
               <div class="query-info">
                  <select name="Role" class="contact-inp shorter-rowinp" required>
                     <option value="role">Select Role</option>
                     <option value="student">Student</option>
                     <option value="parent">Parent</option>
                     <option value="institute">Institute</option>
                  </select>
                  <div class="contact-num">
                     <div class="default-code">+91 -</div>
                     <input type="number" name ="Number" class="num-input" placeholder="Contact Number" required>
                  </div>
               </div>
               <textarea name="Message" class="contact-inp" style="height: 100px; padding-top: 5px;" placeholder="Please type your message here..." required></textarea>
               <button type="submit" class="query-submit">
                  <div class="loader"></div>
                  Submit Details
               </button>
            </form>
            <div class="submission-div">
               <img src="/assets/images/svgs/Green_check.svg" alt="">
               <span>Response Submitted</span>
            </div>
         </div>
      </div>
   </div>
  </div>

  <%-include('../Components/Footer.ejs') %>
  <script src="/assets/js/index.js"></script>
  <script>
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5f34cb164c7806354da5fdb5/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
</body>

</html>