<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/espForm.css" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/newheader.css">
    <title>Edudictive | Student Partner Application</title>
  </head>
  <body>
    <%-include('../Components/Header.ejs') %>
    <div class="espForm-container">
      <span class="espForm-Headings">Edudictive Student Partner</span>
      <span class="espForm-Headings">Application Form</span>
      <span class="espForm-Headings">Enter your personal details</span>
      <div class="form-sub-container">
        <form class="espform" method="POST">
          <div class="form-part_primary">
            <input type="text" placeholder="Full Name" name="fName" required />
            <input type="text" placeholder="College Name" name="cName" required />
            <div class="input-flexer">
              <input type="hidden" name="country" id="countryId" value="IN"/>
                <div class="styled-arrow">
                  <select name="pState" class="states order-alpha" id="stateId" required data-state="closed">
                    <option value="">Select State</option>
                  </select>
                  <img src="/assets/images/svgs/arrow-down.svg" class="down-chev-arrow">
                </div>
                <div class="styled-arrow">
                  <select name="pCity" class="cities order-alpha" id="cityId" data-state="closed">
                    <option value="">Select City</option>
                  </select>
                  <img src="/assets/images/svgs/arrow-down.svg" class="down-chev-arrow">
                </div>
              </div>
              <input type="email" placeholder="Email Address" name="pEmail" required />
                <input type="number" placeholder="Contact Number" name="ppNum" required />
                <div class="styled-arrow">
                  <select name="pAvailability" class="availability" data-state="closed">
                    <option value="">Availability</option>
                    <option value="3">3 Months</option>
                  <option value="6">6 months</option>
                </select>  
                <img src="/assets/images/svgs/arrow-down.svg" class="down-chev-arrow">
                </div>
          </div>
          <div class="form-part_secondary">
              <h5 class="question-head">Answer the following questions</h5>
              <h5 class ="question-1">What makes you fit to be an Edudictive Student Partner</h5>
              <textarea name="Q1" placeholder="Enter your answer in not more than 700 words" rows="4" cols="50"></textarea>
              <h5 class ="question-1">How would you host an event organized by Edudictive at your institution</h5>
              <textarea name="Q2" placeholder="Enter your answer in not more than 1000 words" rows="4" cols="50"></textarea>
              <h5 class ="question-1">Brief your relevant past experiences(if any)</h5>
              <textarea name="Q3" placeholder="Enter your answer here" rows="4" cols="50"></textarea>
          </div>
          <div class="form-submit">
            <button class="sub-btn" type="submit"> Submit </button>
          </div>
        </form>
      </div>
    </div>
    <%-include('../Components/Footer.ejs') %>
    <script src="/assets/scripts/index.js"></script>
    <script src="/assets/scripts/esForm..js"></script>
  </body>
</html>
