<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/Events.css" />
    <title>Events</title>
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
</head>

<body>

    <%-include('../Components/Header.ejs') %>
    <div class="event-container">
        <div class="sessions-heads">
            <div class="heads active-head">
                <span>Webinars</span>
                <div class="underline active_under"></div>
            </div>
            <div class="heads inactive-head">
                <span>Sessions</span>
                <div class="underline"></div>
            </div>
        </div>
        <!-- Webinars started -->

        <div class="webinars">
            <!-- Slider started -->
            <div class="web-slider">
                <div class="wslide active-wslide">
                    <img src="/assets/images/group888.jpg">
                    <div class="slide-heading">How to be a product manager ?</div>
                    <div class="web-info">
                        <span class="author-slide">By Aahan Malhotra</span>
                        <span class="schedule-time">Scheduled at 16:00 IST, 4th May 2020</span>
                    </div>
                    <div class="event-description hide">
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit 
                            amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                        </p>
                    </div>                    
                    <div class="reg-encloser">                        
                        <button class="learn-more-btn">Learn More</button>
                        <button onclick="LinkHandle('/event-register')">Register Now</button>
                    </div>
                    <div class="imgblender"></div>
                </div>
                <div class="wslide">
                    <img src="/assets/images/christian-wiediger-WkfDrhxDMC8-unsplash.jpg">
                    <div class="slide-heading">How to be a <br> product manager ?</div>
                    <div class="web-info">
                        <span class="author-slide">By Aahan Malhotra</span>
                        <span class="schedule-time">Scheduled at 16:00 IST, 4th May 2020</span>
                    </div>
                    <div class="event-description hide">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </p>
                    </div>
                    <div class="reg-encloser">
                        <button class="learn-more-btn">Learn More</button>
                        <button>Register Now</button>
                    </div>
                    <div class="imgblender"></div>
                </div>
                <div class="wslide">
                    <img src="/assets/images/touchscreen.jpg">
                    <div class="slide-heading">How to be a <br> product manager ?</div>
                    
                    <div class="web-info">
                        <span class="author-slide">By Aahan Malhotra</span>
                        <span class="schedule-time">Scheduled at 16:00 IST, 4th May 2020</span>
                    </div>
                    <div class="event-description hide">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </p>
                    </div>
                    <div class="reg-encloser">
                        <button class="learn-more-btn">Learn More</button>
                        <button>Register Now</button>
                    </div>
                    <div class="imgblender"></div>
                </div>
            </div>

            <div class="slider-controller">
                <div class="active-slide" data-identity="0"></div>
                <div class="inactive-slide" data-identity='1'></div>
                <div class="inactive-slide" data-identity="2"></div>
            </div>

            <!-- Slider end -->

            <!-- Live Section -->
            
            <div class="live-section">
                <div class="live-sec">Live Right Now</div>
                <div class="live-session">
                    <img src="/assets/images/touchscreen.jpg">
                    <div class="lsession-info">
                        <span>Starting in Web Dev</span>
                        <span>By Bhupen Pal</span>
                    </div>
                    <button class="v-ini">Watch</button>
                </div>
            </div>

            <div class="archive-section">
                <h1>Archives</h1>
                <div class="archive-encloser">
                    <div class="archives">
                        <img src="/assets/images/touchscreen.jpg">
                        <h2>Placements after <br> Covid-19</h2>
                        <span>Held on 30th April 2020</span>
                        <button class="v-ini">Request Recorder Session</button> 
                    </div>
                    <div class="archives">
                        <img src="/assets/images/touchscreen.jpg">
                        <h2>Placements after <br> Covid-19</h2>
                        <span>Held on 30th April 2020</span>
                        <button class="v-ini">Request Recorder Session</button>
                    </div>
                    <div class="archives">
                        <img src="/assets/images/touchscreen.jpg">
                        <h2>Placements after <br> Covid-19</h2>
                        <span>Held on 30th April 2020</span>
                        <button class="v-ini">Request Recorder Session</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Webinars started -->

        <!-- sessions started -->
        <div class="sessions">
            <div class="session-container">
                <div class="session-details">
                    <h3 class="session-det-head">VR session at DTU</h3>
                    <p class="session-det-para">Lorem ipsum dolor sit amet, ctetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore
                        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                        ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="session-img">
                    <div class="session-arrows">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                            <i class="fas fa-lg fa-angle-left fa-stack-1x"></i>
                        </span>
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                            <i class="fas fa-lg fa-angle-right fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="session-btns">
                        <div class="round-btn active"></div>
                        <div class="round-btn"></div>
                        <div class="round-btn"></div>
                        <div class="round-btn"></div>
                        <div class="round-btn"></div>
                    </div>
                </div>
            </div>
    
            <div class="session-container container-2">
                <div class="session-img img-2">
                    <div class="session-arrows arrow-2">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                            <i class="fas fa-lg fa-angle-left fa-stack-1x"></i>
                        </span>
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                            <i class="fas fa-lg fa-angle-right fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="session-btns btn-2">
                        <div class="round-btn active"></div>
                        <div class="round-btn"></div>
                        <div class="round-btn"></div>
                        <div class="round-btn"></div>
                        <div class="round-btn"></div>
                    </div>
                </div>
                <div class="session-details">
                    <h3 class="session-det-head">Marketing session at Gargi</h3>
                    <p class="session-det-para">Lorem ipsum dolor sit amet, ctetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                        et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                        dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna
                        dolor sit amet.</p>
                </div>
            </div>
    
            <div class="session-container">
                <div class="session-details">
                    <h3 class="session-det-head">VR session at DTU</h3>
                    <p class="session-det-para">Lorem ipsum dolor sit amet, ctetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore
                        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                        ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="session-img">
                    <div class="session-arrows">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                            <i class="fas fa-lg fa-angle-left fa-stack-1x"></i>
                        </span>
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                            <i class="fas fa-lg fa-angle-right fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="session-btns">
                        <div class="round-btn active"></div>
                        <div class="round-btn"></div>
                        <div class="round-btn"></div>
                        <div class="round-btn"></div>
                        <div class="round-btn"></div>
                    </div>
                </div>
            </div>
    
            <div class="session-container container-2">
                <div class="session-img img-2">
                    <div class="session-arrows arrow-2">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                            <i class="fas fa-lg fa-angle-left fa-stack-1x"></i>
                        </span>
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                            <i class="fas fa-lg fa-angle-right fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="session-btns btn-2">
                        <div class="round-btn active"></div>
                        <div class="round-btn"></div>
                        <div class="round-btn"></div>
                        <div class="round-btn"></div>
                        <div class="round-btn"></div>
                    </div>
                </div>
                <div class="session-details">
                    <h3 class="session-det-head">Marketing session at Gargi</h3>
                    <p class="session-det-para">Lorem ipsum dolor sit amet, ctetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                        et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                        dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                        tempor invidunt ut labore et dolore magna 
                        dolor sit amet.</p>
                </div>
            </div>  
        </div>

        <!-- sessions ended -->
    </div>
    <%-include('../Components/ContactForm.ejs') %>
    <%-include('../Components/Footer.ejs') %>
    <script src="/assets/scripts/index.js"></script>
    <script src="/assets/scripts/eventsPage.js"></script>

</body>

</html>