<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edudictive | Forgot Password</title>
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/ForgotPass.css" />
    <link rel="stylesheet" href="/assets/css/newheader.css">
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="icon" href="/assets/img/icons/Logo.svg" />
  </head>
  <body>
    <%-include('../Components/Header.ejs') %>
    <div class="sign-help">
      <div class="sign-block">
        <form class="sign-container" method="POST">
          <h1 class="heading">Sign in help</h1>

          <input
            class="enter-data"
            id="enter-email"
            type="email"
            name="Email"
            placeholder="Enter your Email ID or Phone number"
          />

          <button class="continue">Continue</button>
        </form>
      </div>
    </div>
    <%-include('../Components/Footer.ejs') %>
  </body>
</html>
