<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/Campus.css" />
    <link rel="stylesheet" href="/assets/css/newheader.css">
    <title>Edudictive | Student Partners</title>
</head>

<body>
    <%-include('../Components/Header.ejs') %>
    <div class="camp-page-container">
        <img id="logo-white" src="/assets/img/icons/Logo Font Only White.svg" />
        <h2>Edudictive Student Partner Program</h2>
        <div class="camp-container">
            <div class="camp-written">
                <p>Being an EDUDICTIVE’S student partner would be a fantastic opportunity that will allow your experiences to become a source of knowledge for other potential students, develops your professional skills and enriches your own student journey altogether.
                </p>
                <a href="/edudictive-student-partner/apply"><button>Apply Now!</button></a>
            </div>
           
        </div>
    </div>
    <div class="camp-about">
        <h1 class="camp-headline">About the Program</h1>
        <div class="about-camp-insider">
            <div class="camp-about-written">
                <p class="camp-para"> Student Partner program would basically involve a type of internship in which the ambassador would be the single point of contact between Edudictive and the institute/university. In this campus ambassador program, Edudictive focuses on the promotion of their products and introducing them to your respective institute or university.
                    <br><br>
                    But during this student partner program, you will learn new things and improve your skills as well.
                </p>
            </div>
            <div class="camp-about-illus">
                <img src="/assets/img/svgs/camp-group.svg">
            </div>
        </div>

    </div>
    <div class="camp-responsibilities">
        <h1 class="camp-headline">Responsibilities of Student Partner</h1>
        <p class="camp-para">As a student partner, you need to be a typically confident, dynamic and strong communicator. Your work will include:</p>
        <div class="text-center">
            <ul class="camp-list">
                <li><i class="far fa-check-circle"></i>&ensp;Be the official Student partner and branding representative of Edudictive in your college.</li>
                <li><i class="far fa-check-circle"></i>&ensp;Organize diversified contests ranging from programming to case study competitions.</li>
                <li><i class="far fa-check-circle"></i>&ensp;Promote our courses in your college and get students to sign up & subscribe (including YouTube).</li>
                <li><i class="far fa-check-circle"></i>&ensp;Publicise by displaying posters on notice boards, sharing e-posters on WhatsApp, Facebook etc, circulating emails, etc.</li>
                <li><i class="far fa-check-circle"></i>&ensp;Maintain relevant databases and submit monthly reports.</li>
                <li><i class="far fa-check-circle"></i>&ensp;Conduct  workshop every 2- 3 months and programming events / online hackathon every 45 days in your campus.</li>
                <li><i class="far fa-check-circle"></i>&ensp;Organize counselling sessions and meet-ups in college canteen/campus with Mentors & Alumni.</li>
                <li><i class="far fa-check-circle"></i>&ensp;Come up with innovative ideas on how Edudictive can assist your college and associate us with any technical fest or sessions that your college conducts.</li>
                <li><i class="far fa-check-circle"></i>&ensp;Associate Edudictive with various college societies and fest department.</li>
                <li><i class="far fa-check-circle"></i>&ensp;Also , you can be content writer for our blog (optional).</li>
            </ul>
        </div>

    </div>

    <div class="camp-responsibilities">
        <h1 class="camp-headline">Perks and Benefits to Student Partner</h1>
        <p class="camp-para">As a Student Partner you will get the opportunity to get involved with so many different types of work allowing you to develop skills you already have as well as gain new ones. Such skills may include:</p>
        <div class="text-center">
            <ul class="camp-list">
                <li><i class="far fa-check-circle"></i>&ensp;Top performers Student Partners will receive a kit with host of swags like T-shirt, Bag, Cap, Diary, Stickers and so on.</li>
                <li><i class="far fa-check-circle"></i>&ensp;Work Experience Certificate to all eligible candidates on successful completion of six months program.</li>
                <li><i class="far fa-check-circle"></i>&ensp;LinkedIn recommendation to all eligible candidates after completion of program.</li>
                <li><i class="far fa-check-circle"></i>&ensp;Meet targets, get our online courses for free.</li>
                <li><i class="far fa-check-circle"></i>&ensp;Free passes for workshops/events at Edudictive.</li>
                <li><i class="far fa-check-circle"></i>&ensp;Opportunity to interact and network with industry experts and professionals through various event.</li>
                <li><i class="far fa-check-circle"></i>&ensp;Opportunity to become a part of us (PPO).</li>
                <li style="cursor: pointer;" onclick="LinkHandle('/assets/uploads/docs/Incentive Structure.pdf', 'blank')"><i class="far fa-check-circle"></i>&ensp;Huge cash incentives for specific target achievements.</li>
                <li><i class="far fa-check-circle"></i>&ensp;Additional cash incentives for blogs writing for edudictive.</li>
                <li><i class="far fa-check-circle"></i>&ensp;An exposure of working with a start-up, with some of the best brains in the industry.</li>
                <li><i class="far fa-check-circle"></i>&ensp;Preferred for being Teaching Assistants at Edudictive.</li>
                <li><i class="far fa-check-circle"></i>&ensp;Appreciation of efforts through featuring you on website & social media handles.</li>
            </ul>
        </div>
    </div>

    <h1 class="camp-headline">Application Process</h1>
    <div class="camp-wrapper">
        <div class="apply-step">
            <p class="step">Step 1</p>
            <div class="apply-illus">
                <img src="/assets/img/svgs/camp-check.svg" alt="abcd">
            </div>            
            <p>Online Registration</p>
        </div>
        <div class="apply-step">
            <p class="step">Step 2</p>
            <div class="apply-illus">
                <img src="/assets/img/svgs/camp-apply.svg" alt="abcd">
            </div>            
            <p>Application Shortlisting</p>
        </div>
        <div class="apply-step">
            <p class="step">Step 3</p>
            <div class="apply-illus">
                <img src="/assets/img/svgs/camp-interview.svg" alt="abcd">
            </div>            
            <p>Video/Telephonic Interview</p>
        </div>       
        
        <div class="apply-step">
            <p class="step">Step 4</p>
            <div class="apply-illus">
                <img class="smaller-img" src="/assets/img/svgs/camp-check.svg" alt="abcd">
            </div>            
            <p>Ready for Onboarding</p>
        </div>

    </div>

    <div class="submit-btn">
        <a href="/edudictive-student-partner/apply">
            <button type="button" class="camp-btn">Apply Now !</button>
        </a>
        
        <p>
            This button will redirect you to edudictive Student Partner Application form
        </p>
    </div>    
    <%-include('../Components/ContactForm.ejs') %>
    <%-include('../Components/Footer.ejs') %>
    <script src="/assets/js/index.js"></script>
</body>

</html>