<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/Campus.css" />
    <link rel="stylesheet" href="/assets/css/newheader.css">
    <title>Edudictive | Student Partners</title>
</head>

<body>
    <%-include('../Components/Header.ejs') %>
    <div class="camp-page-container">
        <img id="logo-white" src="/assets/img/icons/Logo Font Only White.svg" />
        <h2>Campus Ambassador Program</h2>
        <div class="camp-container">
            <div class="camp-written">
                <p>Being an EDUDICTIVE’S campus ambassador would be a fantastic opportunity that will allow your experiences to become a source of knowledge for other potential students, develops your professional skills and enriches your own student journey altogether.
                </p>
                <a href="/edudictive-student-partner/apply"><button>Apply Now!</button></a>
            </div>
           
        </div>
    </div>
    <div class="camp-about">
        <h1 class="camp-headline">About the Program</h1>
        <div class="about-camp-insider">
            <div class="camp-about-written">
                <p class="camp-para"> Campus ambassador program would basically involve a type of internship in which the ambassador would be the single point of contact between Edudictive and the institute/university. In this campus ambassador program, Edudictive focuses on the promotion of their products and introducing them to your respective institute or university.
                    <br><br>
                    But during this campus ambassador program, you will learn new things and improve your skills as well.
                </p>
            </div>
            <div class="camp-about-illus">
                <img src="/assets/img/svgs/camp-group.svg">
            </div>
        </div>

    </div>
    <div class="camp-responsibilities">
        <h1 class="camp-headline">Responsibilities of Campus Ambassadors</h1>
        <p class="camp-para">As a campus ambassador, you need to be a typically confident, dynamic and strong communicator. Your work will include:</p>
        <div class="text-center">
            <ul class="camp-list">
                <li><i class="far fa-check-circle"></i>&ensp;An Individually contacting the students via email and/or social media.</li>
                <li><i class="far fa-check-circle"></i>&ensp;An excellent contribution to social media activities.</li>
                <li><i class="far fa-check-circle"></i>&ensp;Managing, Planning and hosting events inside the campus premises.</li>
                <li><i class="far fa-check-circle"></i>&ensp;Providing feedback and sharing new ideas from the university's students with Edudictive.</li>
            </ul>
        </div>

    </div>

    <div class="camp-responsibilities">
        <h1 class="camp-headline">Perks and Benefits to Campus Ambassadors</h1>
        <p class="camp-para">As a Student Ambassador you will get the opportunity to get involved with so many different types of work allowing you to develop skills you already have as well as gain new ones. Such skills may include:</p>
        <div class="text-center">
            <ul class="camp-list">
                <li><i class="far fa-check-circle"></i>&ensp;We will help you to develop an intact confidence for public speaking.</li>
                <li><i class="far fa-check-circle"></i>&ensp;Ways in which you can excel in communication and interpersonal skills. </li>
                <li><i class="far fa-check-circle"></i>&ensp;Methods to create new connections and a professional network. </li>
                <li><i class="far fa-check-circle"></i>&ensp;We will prepare you for the industrial presentation skills. </li>
                <li><i class="far fa-check-circle"></i>&ensp;You’ll attain the importance and knowledge about the teamwork. </li>
                <li><i class="far fa-check-circle"></i>&ensp;Opportunity for a great letter of recommendation and a good office experience. </li>
            </ul>
        </div>
    </div>

    <h1 class="camp-headline">Application Process</h1>
    <div class="camp-wrapper">
        <div class="apply-step">
            <p class="step">Step 1</p>
            <div class="apply-illus">
                <img src="/assets/img/svgs/camp-check.svg" alt="abcd">
            </div>            
            <p>Online Registration</p>
        </div>
        <div class="apply-step">
            <p class="step">Step 2</p>
            <div class="apply-illus">
                <img src="/assets/img/svgs/camp-apply.svg" alt="abcd">
            </div>            
            <p>Application Shortlisting</p>
        </div>
        <div class="apply-step">
            <p class="step">Step 3</p>
            <div class="apply-illus">
                <img src="/assets/img/svgs/camp-interview.svg" alt="abcd">
            </div>            
            <p>Video/Telephonic Interview</p>
        </div>       
        
        <div class="apply-step">
            <p class="step">Step 4</p>
            <div class="apply-illus">
                <img class="smaller-img" src="/assets/img/svgs/camp-check.svg" alt="abcd">
            </div>            
            <p>Ready for Onboarding</p>
        </div>

    </div>

    <div class="submit-btn">
        <a href="/edudictive-student-partner/apply">
            <button type="button" class="camp-btn">Apply Now !</button>
        </a>
        
        <p>
            This button will redirect you to edudictive Student Partner Application form
        </p>
    </div>    
    <%-include('../Components/ContactForm.ejs') %>
    <%-include('../Components/Footer.ejs') %>
    <script src="/assets/scripts/index.js"></script>
</body>

</html>