<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="Keywords"
    content="Online coding classes, entrepreneurship and coding for kids, better career choice, online financial literacy ,Edudictive " />
  <meta property="Description"
    content="Indian's best live Coding classes and other career orientated classes for kids as well as college students at lowest prices, best in India," />
  <meta property="og:title" content="Edudictive - Home Page" />
  <meta property="og:url" content="https://edudictive.in/" />
  <meta property="og:image" content="/assets/img/icons/WhiteBG Logo.png" />
  <meta property="og:type" content="website" />

  <link rel="stylesheet" href="/assets/css/index.css" />
  <link rel="stylesheet" href="/assets/css/Book Trial.css" />
  <link rel="stylesheet" href="/assets/css/all.min.css" />
  <link rel="stylesheet" href="/assets/css/newheader.css" />
  <link rel="icon" href="/assets/img/icons/Logo.svg" />
  <title>Edudictive | Home</title>
</head>

<body>
  <%-include("../Components/Header.ejs") %>
  <div class="trial-container">
    <div class="trial-image">
      <img src="/assets/img/pngs/For Colleges.png" alt="" />
      <img src="/assets/img/svgs/college-hero.svg" alt="" />
    </div>
    <div class="trial-form">
      <form action="/book-free-trial/college">
        <h1 style="color: #004E92;">Book a free class</h1>
        <input type="text" name="Name" placeholder="Full Name">
        <input type="text" name="Email" placeholder="Email ID">
        <input type="number" name="Phone" placeholder="Contact Number">
        <input type="text" name="CollegeName" placeholder="College Name">
        <select name="CollegeYear">
          <option>Current Year</option>
          <option value="1">1st</option>
          <option value="2">2nd</option>
          <option value="3">3rd</option>
          <option value="4">4th</option>
          <option value="4+">4+</option>
        </select>
        <select name="DomainInterested" id="" class="form-control" required>
          <option disabled selected>Select domain</option>
          <option value="">Enterprenuership</option>
          <option value="">Technology and Coding</option>
          <option value="">Design and Creation</option>
          <option value="">Sales and Marketing</option>
          <option value="">Marketing and Growth Hacking</option>
          <option value="">Finance and Investments</option>
        </select>
        <div class="radio-div">
          <h4>Do you have access to laptop/PC ?</h4>
          <div class="radio-flex">
            <label class="container">Yes
              <input type="radio" checked="checked" name="LaptopPC" value="Yes">
              <span class="checkmark"></span>
            </label>
            <label class="container">No
              <input type="radio" name="LaptopPC" value="No">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <button type="submit" class="reg-button">
          <div class="loader"></div>
          Book a class
        </button>
      </form>
    </div>
  </div>
  <%-include("../Components/Footer.ejs") %>
  <script src="/assets/js/index.js"></script>
</body>

</html>