<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="Keywords"
    content="Online coding classes, entrepreneurship and coding for kids, better career choice, online financial literacy ,Edudictive " />
  <meta property="Description"
    content="Indian's best live Coding classes and other career orientated classes for kids as well as college students at lowest prices, best in India," />
  <meta property="og:title" content="Edudictive - Home Page" />
  <meta property="og:url" content="https://edudictive.in/" />
  <meta property="og:image" content="/assets/img/icons/WhiteBG Logo.png" />
  <meta property="og:type" content="website" />

  <link rel="stylesheet" href="/assets/css/index.css" />
  <link rel="stylesheet" href="/assets/css/Trials.css" />
  <link rel="stylesheet" href="/assets/css/all.min.css" />
  <link rel="stylesheet" href="/assets/css/newheader.css" />
  <link rel="icon" href="/assets/img/icons/Logo.svg" />
  <title>Edudictive | Home</title>
</head>

<body>
  <%-include("../Components/Header.ejs") %>
  <div class="trial-container">
    <div class="trial-image">
      <img src="/assets/img/pngs/For Kids.png" alt="" />
      <img src="/assets/img/svgs/school-hero.svg" alt="" />
    </div>
    <div class="trial-form">
      <h1>Book a free class</h1>
      <input type="text" name="" placeholder="Parent's Name">
      <input type="text" name="" placeholder="Parent's Email ID">
      <input type="number" name="" placeholder="Parent's/Student's Contact Number">
      <input type="text" name="" placeholder="Student's Name">
      <input type="text" name="" placeholder="School Name">
      <select name="" id="">
        <option>Student's Grade</option>
        <option value="6-8">6 - 8</option>
      </select>
      <div>
        <h4>Do you have access to laptop/PC ?</h4>
        <div>
          <input type="radio">
          <input type="radio">
        </div>
      </div>
    </div>
  </div>
  <%-include("../Components/Footer.ejs") %>
  <script src="/assets/js/index.js"></script>
</body>

</html>