.about-us {
  padding-top: 125px;

}

.intro-div {
  height: 75vh;
  width: 100%;
  background-image: linear-gradient(to top,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),
    url("/assets/images/about-us\ banner.jpg");
  background-size: cover;
  background-position: 0px 60%;
  background-repeat: no-repeat;
}

.intro-div h1 {
  text-align: center;
  font: Bold 64px Avenir-Next;
  line-height: 95px;
  color: #ffffff;
  padding-top: 12vh;
  margin-top: 0;
}

.about-edu {
  width: 80%;
  padding-bottom: 8vh;
  padding-top: 5vh;
  margin-top: -17% !important;
  box-shadow: 6px 6px 25px #00000029;
  border-radius: 54px;
  margin: auto;
  background-color: #ffffff;
}

.about-edu h1 {
  text-align: center;
  font: Bold 64px Avenir-Next;
  color: #408cff;
}

.about-edu-block {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  margin-top: 8vh;
}

.about-edu-block p {
  width: 40%;
  text-align: left;
  font: 26px Proxima-Nova;
  color: #232323d6;
}

.about-edu-illust h4 {
  font: 34px Proxima-Nova;
  margin-top: 25%;
  color: #4e4e4e;
  text-align: center;
}

.our-mission {
  margin-top: 20vh !important;
  width: 70%;
  margin: auto;
}

.our-mission h1 {
  font-size: 72px;
  font-weight: bold;
  font-family: Avenir-Next;
  text-align: center;
  color: #408cff;
  margin-top: 0;
}

.our-mission-block {
  display: flex;
  margin: 5vh auto;
  margin-bottom: 12vh;
  justify-content: space-around;
  align-items: center;
}

.our-mission-illust img {
  width: 650px;
}

.our-mission-para {
  font: 26px Proxima-Nova;
  color: #232323d6;
  width: 40%;
}

.our-mission-imgs {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.our-mission-imgs img {
  height: 170px;
  width: 170px;
}

.our-mission-imgs div {
  text-align: center;
  align-items: center;
  color: #3957ed;
  font: 31px Proxima-Nova;
}

.student-get {
  width: 100%;
  margin-top: 9vh;
}

.student-get h1 {
  text-align: center;
  font: Bold 72px Avenir-Next;
  color: #408cff;
}

.student-get p {
  width: 64%;
  margin: auto;
  text-align: center;
  font: 28px Avenir-Next;
  color: #464646d6;
}

.student-get-block {
  width: 65%;
  margin: 10vh auto;
  display: flex;
  justify-content: space-between;
}

.student-get-content {
  width: 45%;
  text-align: center;
}

.student-get-content img {
  height: 16vh;
}

.student-get-content h4 {
  font: Bold 28px Proxima-Nova;
  color: #0065ff;
  margin: 2vh 0;
}

.student-get-content p {
  font: 24px Proxima-Nova;
  color: black;
}

/* recent developments */

.rec_dvlpmnts {
  margin: 100px 0;
}

.rec_dvlpmnts h1 {
  text-align: center;
  font: Bold 72px Avenir-Next;
  color: #408cff;
}

.rd_contain {
  position: relative;
  width: 60%;
  height: 600px;
  margin: 100px auto;
  background-image: linear-gradient(#00000050, #00000050),
    url("/assets/images/recent-developments.jpg");
  background-position: bottom;
  background-size: cover;
  border-radius: 54px;
  overflow: hidden;
}

.rd_pretext {
  visibility: visible;
  opacity: 1;
  transition: 0.6s;
  position: absolute;
  width: 60%;
  left: 5%;
  top: 40%;
}

.rd_hdline {
  font: Bold 48px Avenir-Next;
  color: #ffffff;
}

.rd_aftrtexthead {
  font: bold 42px Avenir-Next;
}

.rd_cbtn {
  box-shadow: 6px 6px 20px #00000029;
  background-color: #ffffff;
  border-radius: 50px;
  height: 6vh;
  width: 30%;
  color: #000000d6;
  font: Bold 18px Avenir-Next;
}

.rd_aftrtext {
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;
  position: absolute;
  padding: 0 30px;
  border-radius: 54px;
  height: 0%;
  width: 0%;
  top: 100%;
  background-color: #00000096;
}

.rd_aftrtext p {
  color: #ffffffd6;
  font: 22px Proxima-Nova;
}

/* recent developments  */

.our-team {
  width: 100%;
}

.our-team h1 {
  color: #0065ff;
  text-align: center;
  font: Bold 72px Avenir-Next;
}

.our-team-row {
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  margin: 2vh auto;
  justify-content: center;
}

.team-member {
  height: 45vh;
  width: 20%;
  margin: 0 2vh;
}

.member-img {
  width: 25vh;
  height: 25vh;
  border-radius: 50vh;
  margin: 2vw auto;
  overflow: hidden;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.anid{
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 0%;
  width: 0%;
  background-color: #006097e0;
  z-index: 2;
  border-radius: 100%;
  animation: link-anim 0.5s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes link-anim{
  0%{
    height: 0%;
    width: 0%;
  }
  100%{
    width: 100%;
    height: 100%;
  }
}

.member-img img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.team-member h3 {
  color: #4e4e4e;
  font: Bold 34px Proxima-Nova;
  text-align: center;
  margin: 1vh;
}

.team-member h4 {
  color: #4e4e4e;
  font: 1rem Proxima-Nova;
  text-align: center;
  margin: 1vh;
}

.edu-news h1 {
  font: Bold 72px Avenir-Next;
  text-align: center;
  color: #0065ff;
}

.edu-story {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72%;
  margin: 0 auto 15vh auto;
}

.edu-story2 h4 {
  font: Bold 32px Avenir-Next;
  color: #000000d6;
  margin-top: 7.5vh;
  margin-bottom: 0;
}

.edu-story2 {
  width: 28.5%;
  padding-left: 1.5%;
  box-shadow: 6px 6px 15px #00000033;
  border-radius: 34px;
  transition: 0.3s;
}

.edu-story2:hover {
  transform: scale(1.1);
}

.edu-story2 p {
  font: 22px Avenir-Next;
  color: #000000d6;
  width: 75%;
}

#edu-by2 {
  margin-top: 7.5vh;
}

.edu-story2 button {
  box-shadow: 6px 6px 20px #00000029;
  margin-left: 45%;
  height: 5vh;
  padding: 0;
  margin-bottom: 3.1vh;
  border-radius: 25px;
  width: 50%;
  background-color: #fff;
  font: Bold 13px Avenir-Next;
  color: #000000d6;
}

@media only screen and (max-width: 480px) {

  .about-us {
    padding-top: 80px;
  }

  .intro-div {
    height: 500px;
  }

  .intro-section {
    height: 275px;
    display: flex;
    align-items: center;
  }

  .intro-div h1 {
    font-size: 8vw;
    line-height: 10vw;
    width: 95%;
    margin: 0 auto;
    padding-top: 0;
  }

  .about-edu {
    width: 90%;
    margin-top: -225px !important;
    padding-top: 6vw;
  }

  .about-edu h1 {
    margin: 5vw auto;
    font-size: 8.3vw;
  }

  .about-edu-block {
    flex-direction: column;
    margin-top: 5vw;
  }

  .about-edu-block p {
    width: 95%;
    font-size: 4vw;
    margin: 0 auto;
    text-align: center;
  }

  .about-edu-illust {
    margin-top: 5vh;
    text-align: center;
  }

  .about-edu-illust img {
    width: 85%;
  }

  .our-mission {
    margin: 18vw auto !important;
    margin-bottom: 10vw;
    width: 90%;
  }

  .our-mission h1 {
    font-size: 11vw;
  }

  .our-mission-block {
    flex-direction: column;
    margin: 6.5vw auto;
    margin-bottom: 0;
  }

  .our-mission-illust {
    text-align: center;
  }

  .our-mission-illust img {
    width: 85%;
  }

  .our-mission-para {
    width: 90%;
    font-size: 4.5vw;
    text-align: center;
    margin-top: 6.5vw;
  }

  .our-mission-imgs {
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .our-mission-imgs div {
    margin-top: 2vh;
    font-size: 4vw;
    margin: 0 30px;
  }

  .our-mission-imgs div img {
    width: 25vw;
    height: 25vw;
    margin-top: 40px;
  }

  .our-mission-imgs div div {
    margin: 0;
    margin-top: 1vw;
  }

  .student-get h1 {
    width: 90%;
    margin: auto;
    font-size: 11vw;
  }

  .student-get p {
    margin: 5vw auto;
    width: 85%;
    font-size: 4vw;
  }

  .student-get-block {
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 0 auto;
  }

  .student-get-content {
    margin: 3vw 0;
    width: 95%;
  }

  .student-get-content img {
    height: 22vw;
  }

  .student-get-content h4 {
    font-size: 5vw;
  }

  .student-get-content p {
    font-size: 4vw;
  }

  .rec_dvlpmnts {
    height: auto;
    width: 90%;
    margin: 8vw auto;
  }

  .rec_dvlpmnts h1 {
    font-size: 11vw;
  }

  .rd_contain {
    width: 100%;
    height: 100vw;
    margin: 10vw auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .rd_pretext {
    width: 90%;
    margin: 0 auto;
    position: static;
    text-align: center;
  }

  .rd_hdline {
    font-size: 8vw;
  }

  .rd_cbtn {
    height: 9vw;
    font-size: 3vw;
    margin-top: 18vw;
  }

  .rd_aftrtexthead {
    font-size: 4vw;
  }

  .rd_aftrtext p {
    font-size: 2.8vw;
  }

  .rd_aftrtext .rd_cbtn {
    margin-top: 0;
  }

  .our-team h1 {
    font-size: 12vw;
    margin-top: 15vw;
  }

  .team-member {
    width: 50%;
    height: 50vw;
  }

  .member-img {
    width: 25vw;
    height: 25vw;
  }

  .team-member h3 {
    font-size: 5vw;
  }

  .team-member h4 {
    font-size: 4vw;
  }

  .edu-news h1 {
    font-size: 11vw;
  }

  .edu-story {
    flex-direction: column;
    width: 80%;
  }

  .edu-story2 {
    width: 90%;
    margin-bottom: 8vw;
    padding: 0;
  }

  .edu-story2 h4 {
    width: 90%;
    margin: 0 auto;
    margin-top: 7vw;
    font-size: 6vw;
  }

  .edu-story2 p {
    width: 90%;
    margin: 0 auto;
    margin-top: 4vw;
    font-size: 4vw;
  }

  #edu-by2 {
    margin-top: 7vw;
  }

  .edu-story2 button {
    margin-top: 5vw;
    font-size: 2.7vw;
    height: 6.7vw;
  }

}

@media only screen and (max-width: 768px) and (min-width: 481px) {

  .about-us {
    padding-top: 80px;
  }

  .intro-div {
    height: 600px;
  }

  .intro-section {
    height: 355px;
    display: flex;
    align-items: center;
  }

  .intro-div h1 {
    font-size: 6.5vw;
    line-height: 8.5vw;
    width: 90%;
    margin: 0 auto;
    padding-top: 0;
  }

  .about-edu {
    width: 90%;
    margin-top: -250px !important;
    padding-top: 5vw;
  }

  .about-edu h1 {
    margin: 5vw auto;
    font-size: 6.5vw;
  }

  .about-edu-block {
    flex-direction: column;
    margin-top: 5vw;
  }

  .about-edu-block p {
    width: 95%;
    font-size: 3vw;
    margin: 0 auto;
    text-align: center;
  }

  .about-edu-illust {
    margin-top: 5vh;
    text-align: center;
  }

  .about-edu-illust img {
    width: 85%;
  }

  .our-mission {
    margin: 18vw auto !important;
    margin-bottom: 10vw;
    width: 90%;
  }

  .our-mission h1 {
    font-size: 9vw;
  }

  .our-mission-block {
    flex-direction: column;
    margin: 6.5vw auto;
    margin-bottom: 0;
  }

  .our-mission-illust {
    text-align: center;
  }

  .our-mission-illust img {
    width: 80%;
  }

  .our-mission-para {
    width: 90%;
    font-size: 3vw;
    text-align: center;
    margin-top: 6.5vw;
  }

  .our-mission-imgs {
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .our-mission-imgs div {
    margin-top: 2vh;
    font-size: 3vw;
  }

  .our-mission-imgs div img {
    width: 18vw;
    height: 18vw;
    margin-top: 40px;
  }

  .our-mission-imgs div div {
    margin-top: 1vw;
    width: 24vw;
  }

  .student-get h1 {
    width: 75%;
    margin: auto;
    font-size: 8vw;
  }

  .student-get p {
    margin: 5vw auto;
    width: 75%;
    font-size: 3vw;
  }

  .student-get-block {
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 0 auto;
  }

  .student-get-content {
    margin: 3vw 0;
    width: 95%;
  }

  .student-get-content img {
    height: 18vw;
  }

  .student-get-content h4 {
    font-size: 4vw;
  }

  .student-get-content p {
    width: 80%;
    margin: 0 auto;
    font-size: 2.8vw;
  }

  .rec_dvlpmnts {
    height: auto;
    width: 90%;
    margin: 8vw auto;
  }

  .rec_dvlpmnts h1 {
    font-size: 8vw;
  }

  .rd_contain {
    width: 100%;
    height: 90vw;
    margin: 10vw auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: initial;
  }

  .rd_pretext {
    width: 90%;
  }

  .rd_hdline {
    font-size: 6.5vw;
  }

  .rd_cbtn {
    height: 6vw;
    font-size: 2.5vw;
    width: auto;
    padding: 0 5%;
  }

  .rd_aftrtexthead {
    font-size: 3.5vw;
  }

  .rd_aftrtext p {
    font-size: 2.8vw;
  }

  .rd_aftrtext .rd_cbtn {
    margin-top: 0;
  }

  .our-team h1 {
    font-size: 9vw;
    margin-top: 15vw;
  }

  .team-member {
    width: 40%;
    height: 42vw;
  }

  .member-img {
    width: 22vw;
    height: 22vw;
  }

  .team-member h3 {
    font-size: 3vw;
  }

  .team-member h4 {
    font-size: 1rem;
  }

  .edu-news h1 {
    font-size: 9vw;
  }

  .edu-story {
    flex-direction: column;
    width: 80%;
  }

  .edu-story2 {
    width: 85%;
    margin-bottom: 8vw;
    padding: 0;
    border-radius: 45px;
  }

  .edu-story2 h4 {
    width: 90%;
    margin: 0 auto;
    margin-top: 7vw;
    font-size: 5vw;
  }

  .edu-story2 p {
    width: 80%;
    margin-left: 5%;
    margin-top: 4vw;
    font-size: 3.5vw;
  }

  #edu-by2 {
    margin-top: 7vw;
  }

  .edu-story2 button {
    margin-top: 5vw;
    font-size: 2.7vw;
    height: 6.7vw;
    width: 40%;
    margin-left: 55%;
  }

}

@media only screen and (max-width: 912px) and (min-width: 769px) {

  .about-us {
    padding-top: 80px;
  }

  .intro-div {
    height: 700px;
  }

  .intro-section {
    height: 400px;
    display: flex;
    align-items: center;
  }

  .intro-div h1 {
    font-size: 6.5vw;
    line-height: 8vw;
    width: 80%;
    margin: 0 auto;
    padding-top: 0;
  }

  .about-edu {
    width: 90%;
    margin-top: -300px !important;
    padding-top: 2vw;
  }

  .about-edu h1 {
    margin: 5vw auto;
    font-size: 6.5vw;
  }

  .about-edu-block {
    flex-direction: column;
    margin-top: 5vw;
  }

  .about-edu-block p {
    width: 95%;
    font-size: 3vw;
    margin: 0 auto;
    text-align: center;
  }

  .about-edu-illust {
    margin-top: 5vh;
    text-align: center;
  }

  .about-edu-illust img {
    width: 85%;
  }

  .our-mission {
    margin: 18vw auto !important;
    margin-bottom: 10vw;
    width: 90%;
  }

  .our-mission h1 {
    font-size: 8vw;
  }

  .our-mission-block {
    flex-direction: column;
    margin: 6.5vw auto;
    margin-bottom: 0;
  }

  .our-mission-illust {
    text-align: center;
  }

  .our-mission-illust img {
    width: 80%;
  }

  .our-mission-para {
    width: 90%;
    font-size: 3.3vw;
    text-align: center;
    margin-top: 6.5vw;
  }

  .our-mission-imgs {
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .our-mission-imgs div {
    margin-top: 2vh;
    font-size: 3vw;
  }

  .our-mission-imgs div img {
    width: 15vw;
    height: 15vw;
    margin-top: 40px;
  }

  .our-mission-imgs div div {
    margin-top: 1vw;
    width: 24vw;
  }

  .student-get h1 {
    width: 75%;
    margin: auto;
    font-size: 8vw;
  }

  .student-get p {
    margin: 5vw auto;
    width: 85%;
    font-size: 3vw;
  }

  .student-get-block {
    width: 90%;
    align-items: center;
    margin: 0 auto;
  }

  .student-get-content {
    margin: 3vw 0 5vw;
    width: 95%;
  }

  .student-get-content img {
    height: 18vw;
  }

  .student-get-content h4 {
    font-size: 4vw;
  }

  .student-get-content p {
    width: 80%;
    margin: 0 auto;
    font-size: 2.8vw;
  }

  .rec_dvlpmnts {
    height: auto;
    width: 90%;
    margin: 8vw auto;
  }

  .rec_dvlpmnts h1 {
    font-size: 8vw;
  }

  .rd_contain {
    width: 90%;
    height: 70vw;
    margin: 10vw auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: initial;
  }

  .rd_pretext {
    width: 85%;
  }

  .rd_hdline {
    font-size: 5.5vw;
  }

  .rd_cbtn {
    height: 6vw;
    font-size: 2.3vw;
  }

  .rd_aftrtexthead {
    font-size: 3.2vw;
  }

  .rd_aftrtext p {
    font-size: 2.3vw;
  }

  .rd_aftrtext .rd_cbtn {
    margin-top: 0;
  }

  .our-team h1 {
    font-size: 9vw;
    margin-top: 15vw;
  }

  .our-team-row {
    width: 95%;
    justify-content: space-around;
  }

  .team-member {
    width: 30%;
    height: 40vw;
    margin: 0;
  }

  .member-img {
    width: 20vw;
    height: 20vw;
  }

  .team-member h3 {
    font-size: 3vw;
  }

  .team-member h4 {
    font-size: 1rem;
  }

  .edu-news h1 {
    font-size: 8vw;
  }

  .edu-story {
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .edu-story2 {
    width: 45%;
    margin-bottom: 5vw;
    padding: 0;
    border-radius: 45px;
  }

  .edu-story2 h4 {
    width: 90%;
    margin: 0 auto;
    margin-top: 7vw;
    font-size: 3vw;
  }

  .edu-story2 p {
    width: 90%;
    margin: 0 auto;
    margin-top: 4vw;
    font-size: 2.5vw;
  }

  #edu-by2 {
    margin-top: 7vw;
  }

  .edu-story2 button {
    margin-top: 5vw;
    font-size: 1.8vw;
    height: 5vw;
    width: 40%;
    margin-left: 53%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 913px) {

  .about-us {
    padding-top: 80px;
  }

  .intro-div {
    height: 500px;
  }

  .intro-section {
    height: 295px;
    display: flex;
    align-items: center;
  }

  .intro-div h1 {
    font-size: 4vw;
    line-height: 5vw;
    margin: 0 auto;
    padding-top: 0;
  }

  .about-edu {
    margin-top: -205px !important;
    padding-top: 1.5vw;
    padding-bottom: 4.5vw;
  }

  .about-edu h1 {
    font-size: 4.2vw;
  }

  .about-edu-block {
    justify-content: space-between;
    align-items: center;
    margin-top: 2vw;
  }

  .about-edu-block p {
    width: 45%;
    font-size: 1.6vw;
    text-align: justify;
  }

  .about-edu-illust {
    width: 50%;
  }

  .about-edu-illust img {
    width: 100%;
  }

  .our-mission {
    width: 80%;
    margin-top: 10vw !important;
  }

  .our-mission h1 {
    font-size: 4.5vw;
  }

  .our-mission-block {
    justify-content: space-between;
    align-items: center;
    margin: 2.8vw auto 6.8vw;
  }

  .our-mission-illust {
    width: 50%;
  }

  .our-mission-illust img {
    width: 100%;
  }

  .our-mission-para {
    width: 45%;
    font-size: 1.7vw;
    text-align: justify;
  }

  .our-mission-imgs img {
    height: 9vw;
    width: 9vw;
  }

  .our-mission-imgs div {
    font-size: 1.7vw;
  }

  .our-mission-imgs div div {
    margin-top: 0.5vw;
    width: 14vw;
  }

  .student-get {
    margin-top: 8vw;
  }

  .student-get h1 {
    font-size: 4.5vw;
  }

  .student-get p {
    width: 70%;
    font-size: 1.7vw;
  }

  .student-get-block {
    width: 70%;
    margin: 5.5vw auto;
  }

  .student-get-content {
    width: 45%;
    text-align: center;
  }

  .student-get-content img {
    height: 9vw;
  }

  .student-get-content h4 {
    font-size: 1.8vw;
  }

  .student-get-content p {
    font-size: 1.4vw;
  }

  .rec_dvlpmnts {
    margin: 10vw 0;
  }

  .rec_dvlpmnts h1 {
    font-size: 4.5vw;
  }

  .rd_contain {
    width: 70%;
    height: 40vw;
    margin: 5vw auto;
  }

  .rd_pretext {
    width: 70%;
  }

  .rd_hdline {
    font-size: 3.2vw;
  }

  .rd_aftrtexthead {
    font-size: 2.3vw;
  }

  .rd_cbtn {
    height: 2.8vw;
    width: 25%;
    font-size: 1.3vw;
  }

  .rd_aftrtext p {
    font-size: 1.5vw;
  }

  .our-team h1 {
    font-size: 4.7vw;
  }

  .team-member {
    height: 25vw;
    margin: 0 1.1vw;
  }

  .member-img {
    width: 13vw;
    height: 13vw;
  }

  .team-member h3 {
    font-size: 2vw;
  }

  .team-member h4 {
    font-size: 1rem;
  }

  .edu-news h1 {
    font-size: 4.5vw;
  }

  .edu-story {
    width: 80%;
  }

  .edu-story2 h4 {
    font-size: 1.7vw;
    margin-top: 4vw;
  }

  .edu-story2 p {
    font-size: 1.3vw;
    width: 80%;
  }

  #edu-by2 {
    margin-top: 4vw;
  }

  .edu-story2 button {
    width: 41%;
    height: 2.8vw;
    margin-left: 50%;
    font-size: 1.1vw;
  }

}

@media only screen and (max-width: 1440px) and (min-width: 1201px) {
  .about-us {
    padding-top: 80px;
  }

  .intro-div {
    height: 550px;
  }

  .intro-section {
    height: 315px;
    display: flex;
    align-items: center;
  }

  .intro-div h1 {
    font-size: 3.3vw;
    line-height: 5vw;
    margin: 0 auto;
    padding-top: 0;
  }

  .about-edu {
    margin-top: -235px !important;
    padding-top: 1.5vw;
    padding-bottom: 4.5vw;
  }

  .about-edu h1 {
    font-size: 3.3vw;
  }

  .about-edu-block {
    width: 85%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vw;
  }

  .about-edu-block p {
    width: 45%;
    font-size: 1.4vw;
    text-align: justify;
  }

  .about-edu-illust {
    width: 50%;
  }

  .about-edu-illust img {
    width: 100%;
  }

  .our-mission {
    width: 75%;
    margin-top: 10vw !important;
  }

  .our-mission h1 {
    font-size: 3.7vw;
  }

  .our-mission-block {
    justify-content: space-between;
    align-items: center;
    margin: 2.8vw auto 5vw;
  }

  .our-mission-illust {
    width: 45%;
  }

  .our-mission-illust img {
    width: 100%;
  }

  .our-mission-para {
    width: 45%;
    font-size: 1.5vw;
    text-align: justify;
  }

  .our-mission-imgs img {
    height: 8vw;
    width: 8vw;
  }

  .our-mission-imgs div {
    font-size: 1.4vw;
  }

  .our-mission-imgs div div {
    margin-top: 0.5vw;
    width: 12vw;
  }

  .student-get {
    margin-top: 8vw;
  }

  .student-get h1 {
    font-size: 3.7vw;
  }

  .student-get p {
    font-size: 1.5vw;
  }

  .student-get-block {
    width: 70%;
    margin: 4.5vw auto;
  }

  .student-get-content {
    width: 45%;
    text-align: center;
  }

  .student-get-content img {
    height: 8vw;
  }

  .student-get-content h4 {
    font-size: 1.8vw;
  }

  .student-get-content p {
    font-size: 1.4vw;
  }

  .rec_dvlpmnts {
    margin: 8vw 0;
  }

  .rec_dvlpmnts h1 {
    font-size: 3.8vw;
  }

  .rd_contain {
    height: 33vw;
    margin: 5vw auto;
  }

  .rd_pretext {
    width: 70%;
  }

  .rd_hdline {
    font-size: 2.7vw;
  }

  .rd_aftrtexthead {
    font-size: 1.8vw;
  }

  .rd_cbtn {
    height: 2.5vw;
    width: 23%;
    font-size: 1.1vw;
  }

  .rd_aftrtext p {
    font-size: 1.25vw;
  }

  .our-team h1 {
    font-size: 4vw;
  }

  .team-member {
    height: 25vw;
    margin: 0 1.1vw;
  }

  .member-img {
    width: 13vw;
    height: 13vw;
  }

  .team-member h3 {
    font-size: 2vw;
  }

  .team-member h4 {
    font-size: 1rem;
  }

  .edu-news h1 {
    font-size: 4.5vw;
  }

  .edu-story {
    width: 80%;
  }

  .edu-story2 h4 {
    font-size: 1.8vw;
    margin-top: 4vw;
  }

  .edu-story2 p {
    font-size: 1.3vw;
    width: 80%;
  }

  #edu-by2 {
    margin-top: 4vw;
  }

  .edu-story2 button {
    width: 41%;
    height: 2.8vw;
    margin-left: 50%;
    font-size: 1vw;
  }

}

@media only screen and (max-width: 1600px) and (min-width: 1441px) {
  .about-us {
    padding-top: 80px;
  }

  .intro-div {
    height: 600px;
  }

  .intro-section {
    height: 345px;
    display: flex;
    align-items: center;
  }

  .intro-div h1 {
    font-size: 3.3vw;
    line-height: 5vw;
    margin: 0 auto;
    padding-top: 0;
  }

  .about-edu {
    margin-top: -255px !important;
    padding-top: 1.5vw;
    padding-bottom: 4.5vw;
  }

  .about-edu h1 {
    font-size: 3.3vw;
  }

  .about-edu-block {
    width: 85%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vw;
  }

  .about-edu-block p {
    width: 45%;
    font-size: 1.4vw;
    text-align: justify;
  }

  .about-edu-illust {
    width: 50%;
  }

  .about-edu-illust img {
    width: 100%;
  }

  .our-mission {
    width: 75%;
    margin-top: 10vw !important;
  }

  .our-mission h1 {
    font-size: 3.7vw;
  }

  .our-mission-block {
    justify-content: space-between;
    align-items: center;
    margin: 2.8vw auto 5vw;
  }

  .our-mission-illust {
    width: 45%;
  }

  .our-mission-illust img {
    width: 100%;
  }

  .our-mission-para {
    width: 45%;
    font-size: 1.5vw;
    text-align: justify;
  }

  .our-mission-imgs img {
    height: 8vw;
    width: 8vw;
  }

  .our-mission-imgs div {
    font-size: 1.4vw;
  }

  .our-mission-imgs div div {
    margin-top: 0.5vw;
    width: 12vw;
  }

  .student-get {
    margin-top: 8vw;
  }

  .student-get h1 {
    font-size: 3.5vw;
  }

  .student-get p {
    font-size: 1.4vw;
  }

  .student-get-block {
    width: 70%;
    margin: 4.5vw auto;
  }

  .student-get-content {
    width: 45%;
    text-align: center;
  }

  .student-get-content img {
    height: 8.5vw;
  }

  .student-get-content h4 {
    font-size: 1.8vw;
  }

  .student-get-content p {
    font-size: 1.4vw;
  }

  .rec_dvlpmnts {
    margin: 8vw 0;
  }

  .rec_dvlpmnts h1 {
    font-size: 3.8vw;
  }

  .rd_contain {
    height: 35vw;
    margin: 5vw auto;
  }

  .rd_pretext {
    width: 70%;
  }

  .rd_hdline {
    font-size: 2.8vw;
  }

  .rd_aftrtexthead {
    font-size: 1.8vw;
  }

  .rd_cbtn {
    height: 2.5vw;
    width: 23%;
    font-size: 1.1vw;
  }

  .rd_aftrtext p {
    font-size: 1.3vw;
  }

  .our-team h1 {
    font-size: 4vw;
  }

  .team-member {
    height: 25vw;
    margin: 0 1.1vw;
  }

  .member-img {
    width: 13vw;
    height: 13vw;
  }

  .team-member h3 {
    font-size: 2vw;
  }

  .team-member h4 {
    font-size: 1rem;
  }

  .edu-news h1 {
    font-size: 4vw;
  }

  .edu-story {
    width: 80%;
  }

  .edu-story2 h4 {
    font-size: 1.8vw;
    margin-top: 4vw;
  }

  .edu-story2 p {
    font-size: 1.25vw;
    width: 80%;
  }

  #edu-by2 {
    margin-top: 4vw;
  }

  .edu-story2 button {
    width: 38%;
    height: 2.8vw;
    margin-left: 53%;
    font-size: 1vw;
  }

}

@media only screen and (max-width: 1920px) and (min-width: 1601px) {
  .about-us {
    padding-top: 80px;
  }

  .intro-div {
    height: 700px;
  }

  .intro-section {
    height: 395px;
    display: flex;
    align-items: center;
  }

  .intro-div h1 {
    font-size: 3.3vw;
    line-height: 5vw;
    margin: 0 auto;
    padding-top: 0;
  }

  .about-edu {
    margin-top: -305px !important;
    padding-top: 1.5vw;
    padding-bottom: 4.5vw;
  }

  .about-edu h1 {
    font-size: 3.3vw;
  }

  .about-edu-block {
    width: 85%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vw;
  }

  .about-edu-block p {
    width: 45%;
    font-size: 1.4vw;
    text-align: justify;
  }

  .about-edu-illust {
    width: 50%;
  }

  .about-edu-illust img {
    width: 100%;
  }

  .our-mission {
    width: 75%;
    margin-top: 10vw !important;
  }

  .our-mission h1 {
    font-size: 3.7vw;
  }

  .our-mission-block {
    justify-content: space-between;
    align-items: center;
    margin: 2.8vw auto 5vw;
  }

  .our-mission-illust {
    width: 45%;
  }

  .our-mission-illust img {
    width: 100%;
  }

  .our-mission-para {
    width: 45%;
    font-size: 1.5vw;
    text-align: justify;
  }

  .our-mission-imgs img {
    height: 8vw;
    width: 8vw;
  }

  .our-mission-imgs div {
    font-size: 1.4vw;
  }

  .our-mission-imgs div div {
    margin-top: 0.5vw;
    width: 12vw;
  }

  .student-get {
    margin-top: 8vw;
  }

  .student-get h1 {
    font-size: 3.5vw;
  }

  .student-get p {
    font-size: 1.4vw;
  }

  .student-get-block {
    width: 70%;
    margin: 4.5vw auto;
  }

  .student-get-content {
    width: 45%;
    text-align: center;
  }

  .student-get-content img {
    height: 8.5vw;
  }

  .student-get-content h4 {
    font-size: 1.8vw;
  }

  .student-get-content p {
    font-size: 1.4vw;
  }

  .rec_dvlpmnts {
    margin: 8vw 0;
  }

  .rec_dvlpmnts h1 {
    font-size: 3.8vw;
  }

  .rd_contain {
    height: 35vw;
    margin: 5vw auto;
  }

  .rd_pretext {
    width: 70%;
  }

  .rd_hdline {
    font-size: 2.8vw;
  }

  .rd_aftrtexthead {
    font-size: 1.8vw;
  }

  .rd_cbtn {
    height: 2.5vw;
    width: 23%;
    font-size: 1.1vw;
  }

  .rd_aftrtext p {
    font-size: 1.3vw;
  }

  .our-team h1 {
    font-size: 4vw;
  }

  .team-member {
    height: 25vw;
    margin: 0 1.1vw;
  }

  .member-img {
    width: 13vw;
    height: 13vw;
  }

  .team-member h3 {
    font-size: 2vw;
  }

  .team-member h4 {
    font-size: 1rem;
  }

  .edu-news h1 {
    font-size: 4vw;
  }

  .edu-story {
    width: 80%;
  }

  .edu-story2 h4 {
    font-size: 1.8vw;
    margin-top: 4vw;
  }

  .edu-story2 p {
    font-size: 1.25vw;
    width: 80%;
  }

  #edu-by2 {
    margin-top: 4vw;
  }

  .edu-story2 button {
    width: 38%;
    height: 2.8vw;
    margin-left: 53%;
    font-size: 1vw;
  }

}