.dashboard-container{
  padding-top: 125px;
  min-height: 80vh;
}

.dash-navigation{
  margin: 3rem auto;
  width: max-content;
}

.dash-navigation ul {
  display: flex;
  align-items: center;
}

.heads{
  margin: 0 1.8rem;
  transition: 0.2s;
  height: 40px;
  display: flex;
  align-items: center;
}

.inactive-head {
  color: #C0C0C0;
  font: Bold 24px Avenir-Next;
  cursor: pointer;
}

.active-head{
  font: Bold 32px Avenir-Next;
  color: #408CFF;
  cursor: pointer;
}

.profile-section{
  padding: 1rem 0 5rem 0;
  display: flex;
}

.profile-card{
  margin: auto;
  height: 550px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 6px 6px 25px #00000029;
  width: 50%;
  display: flex;
}

.profile-details{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  box-sizing: border-box;
}

.det_sp{
  font-family: Proxima-Nova;
  display: flex;
  flex-direction: column;
  margin: 0.3rem 0;
}

.det_sp_label{
  font-size: 20px;
  color: #a7a7a7;
  display: flex;
  flex-wrap: wrap;
}

.det_sp_content{
  font-size: 32px;
  font-weight: bold;
  color: #707070;
  display: flex;
  flex-wrap: wrap;
}

.pro-btns button{
  padding: 1rem;
  background-color: #0065ff;
  color: #fff;
  font: bold 20px Proxima-Nova;
  border-radius: 7px;
  margin: 1.5rem 0.5rem 0 0;
  opacity: 0.8;
  transition: 0.3s;
}

.pro-btns button:hover{
  opacity: 1;
}

.profile-pic{
  display: flex;
  height: 300px;
  width: 300px;
  border-radius: 300px;
  overflow: hidden;
  margin: auto;
  box-shadow: 10px 10px 50px #00000080;
}

.profile-pic img{
  margin: auto;
  height: 100%;
  width: 100%;
}

.mobile-dash-nav{
  display: none;
}

@media only screen and (max-width: 600px){
  .dashboard-container{
    padding-top: 80px;
  }
  
  .dash-navigation{
    display: none;
  }

  .mobile-dash-nav{
    display: flex;
  }

  .profile-card{
    width: 100%;
    flex-direction: column-reverse;
    height: min-content;
    padding: 2rem 1rem;
    border-radius: 0;
  }

  .profile-pic{
    height: 12rem;
    width: 12rem;
  }

  .profile-details{
    width: 100%;
    padding: 0;
    align-items: center;
    margin: 2rem 0 0 0;
  }

  .det_sp{
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .det_sp_label{
    font-size: 1rem;
  }

  .det_sp_content{
    font-size: 1.1rem;
  }

  .pro-btns{
    margin: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .pro-btns button{
    width: 80%;
    margin: 0.2rem auto;
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) and (min-width: 601px){
  .dashboard-container{
    padding-top: 80px;
  }
  
  .dash-navigation{
    display: none;
  }

  .mobile-dash-nav{
    display: flex;
  }

  .profile-card{
    width: 100%;
    flex-direction: row-reverse;
    height: min-content;
    padding: 2rem 1rem;
    border-radius: 0;
  }

  .profile-pic{
    height: 12rem;
    width: 12rem;
    margin: 2rem auto 0 auto;
  }

  .profile-details{
    width: 50%;
    padding: 0;
    align-items: center;
    margin: 2rem 0 0 0;
    margin: 2rem;
  }

  .det_sp{
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .det_sp_label{
    font-size: 1rem;
  }

  .det_sp_content{
    font-size: 1.1rem;
  }

  .pro-btns{
    margin: 2rem 0;
    width: 100%;
  }

  .pro-btns button{
    width: 100%;
    margin: 0.2rem 0;
    opacity: 1;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 769px){
  .dashboard-container{
    padding-top: 80px;
  }
  
  .dash-navigation{
    display: none;
  }

  .mobile-dash-nav{
    display: flex;
  }

  .profile-card{
    width: 90%;
    flex-direction: row-reverse;
    height: min-content;
    padding: 2rem 1rem;
    border-radius: 20px;
  }

  .profile-pic{
    height: 15rem;
    width: 15rem;
    margin: auto;
    border-radius: 15px;
  }

  .profile-details{
    width: 50%;
    padding: 0;
    align-items: center;
    margin: 2rem 0 0 0;
    margin: 2rem;
  }

  .det_sp{
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .det_sp_label{
    font-size: 1rem;
  }

  .det_sp_content{
    font-size: 1.1rem;
  }

  .pro-btns{
    margin: 2rem 0;
    width: 100%;
  }

  .pro-btns button{
    width: 100%;
    margin: 0.2rem 0;
    opacity: 1;
  }
}

@media only screen and (max-width:1300px) and (min-width:1101px){
  .profile-card{
    width: 80%;
  }
}