.form-container {
  margin: 0 auto !important;
  height: min-content !important;;
  width: 80% !important;
  padding: 125px 0;
  width: 100%;
}

.form-heading {
  color: #6a11cb;
  font: bold 4rem Avenir-Next;
}

.form-subheading {
  color: #6a11cb;
  font: bold 2rem Avenir-Next;
}

.box {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 5rem;
  font-family: Avenir-Next;
  box-shadow: 6px 6px 20px #00000029;
  background-color: white;
}

.msg {
  font: 1.4rem Avenir-Next;
  opacity: 0.7;
  text-align: center;
  margin-bottom: 5rem;
}

.tick-icon {
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  color: #ffffff;
  font-size: 100px;
  background-color: #00dc67;
}

@media screen and (max-width: 1024px) and (min-width: 481px) {

  .form-heading {
    font-size: 3rem;
  }

  .box {
    width: 85%;
  }

}

@media screen and (max-width: 480px) {

  .form-container {
    width: 90% !important;
  }

  .form-heading {
    font-size: 2rem;
  }

  .form-subheading {
    font-size: 1.5rem;
  }

  .box {
    border-radius: 50px;
    width: 98%;
  }

  .tick-icon {
    margin: 2.5rem auto;
    height: 100px;
    width: 100px;
    font-size: 50px;
  }
}
