.espForm-container{
  padding: 125px 0 5rem 0;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.espForm-Headings{
  font: Bold 24px Avenir-Next;
  color: #6911c9;
}

.espForm-Headings:first-child{
  font-size: 64px;
  margin: 1rem 0;
}

.espForm-Headings:nth-child(2){
  font-size: 40px;
}

.espForm-Headings:nth-child(3){
  color: #408cff;
  margin: 4rem 0 1rem 0;
  font: bold 20px Proxima-Nova;
}

.espform,.form-part_primary,.form-part_secondary{
  display: flex;
  flex-direction: column;
}

.form-part_primary input,.availability{
  width: 60%;
  padding: 1rem 1.5rem;
  font: normal 20px Proxima-Nova;
  box-sizing: border-box;
  margin: 1rem 0;
}

.input-flexer{
  width: 60%;
  display: flex;
  height: calc(2.5rem + 20px);
  justify-content: space-between;
  margin: 1rem 0;
}

.input-flexer select{
  height: 100%;
  font: normal 20px Proxima-Nova;
  width: 49%;
}

.question-head{
  font: bold 40px Avenir-Next;
  color: #408cff;
}

.question-1{
  font: bold 25px Proxima-Nova;
}

.form-part_secondary textarea{
  font: 20px Proxima-Nova;
  width: 60%;
  height: 15rem;
  border: 1px solid #cccccc;
  border-radius: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 6px 6px 25px #00000029;
}

.form-submit button{
  padding: 1rem 1.5rem;
  font: bold 24px Proxima-Nova;
  color: #fff;
  width: 20rem;
  background-color: #00DC67;
  margin: 2rem 0;
  border-radius: 0.8rem;
  box-shadow: 6px 6px 25px #00000029;
}

