/* HOME - 1920px start */
html{
  overflow-x: hidden;
}
.content-wrap {
  padding-top: 125px;
}

/* SKILL SECTION */
.get-skills {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.get-skills-content {
  display: flex;
}

.get-skills-header {
  padding-top: 100px;
  width: 50%;
}

.get-skills-heading {
  font: Bold 83px Avenir-Next;
  line-height: 109px;
  color: #408cff;
}

.get-skills-platform {
  margin-top: 26px;
  width: 60%;
  font: Bold 28px Avenir-Next;
  opacity: 80%;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.8);
}

.skill-illustrate {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-handle {
  margin-top: -10rem;
  width: 50%;
}

.skill-handle button {
  width: 298px;
  height: 82px;
  border-radius: 15px;
  font: Bold 21px Avenir-Next;
  line-height: 14px;
}

#skill-register {
  background-color: #408cff;
  color: #ffffff;
  margin-right: 15px;
}

#skill-offers {
  margin-left: 15px;
  background-color: #ffffff;
  border: 3px solid #464646d6;
  color: #464646d6;
}

/* SKILL SECTION */

/* OUR PROGRAMS */
.our-programs {
  margin-top: 100px;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.op-heading {
  text-align: center;
  color: #408cff;
  font: Bold 71px Avenir-Next;
  margin-bottom: 0;
  width: 85%;
}

.op-description {
  margin-top: 30px;
  width: 70%;
  font: 28px Avenir-Next;
  line-height: 36px;
  color: #747474;
}

.op-options {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
}

.op-option-block {
  width: 500px;
  height: 680px;
  margin-left: 80px;
  margin-right: 80px;
  box-shadow: 6px 6px 20px #00000029;
  border-radius: 80px;
  padding: 50px 20px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.op-option-block img {
  width: 250px;
  height: 250px;
}

.op-option-block h2 {
  font: Bold 40px Proxima-Nova;
  color: #0088ff;
}

.op-option-block p {
  font: 25px Proxima-Nova;
  color: #747474;
  margin-top: 0;
  height: 120px;
}

.op-option-block button {
  box-shadow: 6px 6px 20px #00000029;
  font: Bold 24px Product-Sans;
  color: #000000;
  background-color: #fff;
  border-radius: 15px;
  width: 50%;
  height: 6vh;
  margin: 10px 0;
}

/* OUR PROGRAMS */

/* SUN BURN */
.sun-burn {
  margin: 200px 0;
}

.sun-burn h1 {
  text-align: center;
  font: Bold 80px Avenir-Next;
  color: #408cff;
}

.sun-burn-detailed {
  display: flex;
}

.sun-burn-text h2 {
  font: Bold 44px Proxima-Nova;
}

#blue-span {
  color: #408cff;
}

.sun-burn-text p {
  width: 90%;
  font: 28px Proxima-Nova;
  line-height: 32px;
  color: #000000d6;
}

.sun-burn-det-svg {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.sun-svg {
  text-align: center;
  align-items: center;
  color: #3957ed;
  font: 25px Avenir-Next;
  white-space: nowrap;
}

.sun-svg img {
  margin-bottom: 15px;
}

.success-flame {
  margin-left: 50px;
}

/* SUN BURN */

/* INTERNSHIP OPPORTUNITY */
.intern-opt {
  margin: 200px 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intern-opt h2 {
  text-align: center;
  font: Bold 71px Avenir-Next;
  color: #408cff;
  margin-bottom: 0;
}

.intern-opt p {
  width: 65%;
  text-align: center;
  line-height: 50px;
  font: Bold 40px Proxima-Nova;
  color: #000000d6;
}

.intern-illustration {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.intern-illustration img {
  width: 800px;
}

.company-logo {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-logo img {
  margin: 0 auto;
  width: 30%;
  height: auto;
  transform: scale(0.9);
}

#AmazonLogo {
  transform: scale(0.8);
  margin-bottom: -30px;
}

/* INTERNSHIP OPPORTUNITY */

/* BLOGS - 1920px START */
.blogs-brief {
  padding: 90px 0;
  margin-bottom: 200px;
  border-radius: 114px;
  width: 100%;
  background: transparent linear-gradient(124deg, #9795f0 0%, #fbc8d4 100%);
}

.blogs-brief h1 {
  font: Bold 70px Avenir-Next;
  width: 85%;
  margin: 0 auto 40px auto;
  color: #ffffff;
}

.blog-detail-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.blog-structure {
  width: 48%;
  height: 550px;
  background-color: white;
  box-shadow: 6px 6px 25px #00000029;
  border-radius: 54px;
}

.blog-heading {
  padding: 40px 0px 0px 58px;
  width: 454px;
  height: 181px;
  font: Bold 52px Avenir-Next;
  color: #408cff;
}

.sub-blog-structure {
  display: flex;
  flex-direction: column;
  width: 48%;
  height: 100%;
}

.sub-blog-secondary {
  height: 430px;
  background: white;
  box-shadow: 6px 6px 25px #00000029;
  border-radius: 54px;
}

.sub-blog-heading {
  padding: 40px 0px 0px 58px;
  height: 60px;
  font: Bold 48px Avenir-Next;
  color: #408cff;
}

.blog-writer {
  padding: 40px 0px 0px 58px;
  width: 100%;
  height: 22px;
  font: Bold 18px Avenir-Next;
  color: black;
}

.blog-time {
  padding: 10px 0px 0px 58px;
  font: 14px Avenir-Next;
  color: black;
}

.blog-btn {
  margin-left: 58px;
  width: 200px;
  height: 55px;
  background: #408cff;
  box-shadow: 6px 6px 25px #00000029;
  border-radius: 15px;
  font: Bold 24px Avenir-Next;
  color: white;
}

.read-more-blogs {
  margin-top: 40px;
  height: 75px;
  background: white;
  box-shadow: 6px 6px 20px #00000029;
  border-radius: 25px;
  text-align: center;
  font: Bold 24px Avenir-Next;
  color: black;
}

/* BLOGS - 1920px END */

@media only screen and (max-width: 600px) {

  /* Home response */
  .content-wrap {
    width: 100%;
    padding-top: 80px;
  }

  .get-skills {
    width: 100vw;
    height: 150vw;
    margin-top: 7vw;
  }

  .get-skills-content {
    flex-direction: column;
    align-items: center;
  }

  .get-skills-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .skill-illustrate {
    width: 100%;
  }

  .skill-illustrate img {
    width: 85vw;
  }

  .get-skills-heading {
    font: Bold 8.86vw Avenir-Next;
    width: 85vw;
    margin: 0 auto;
    text-align: center;
  }

  .get-skills-platform {
    font: 4vw Avenir-Next;
    line-height: 5vw;
    width: 60%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .skill-handle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
  }

  #skill-offers,
  #skill-register {
    height: 10.5vw;
    width: 50vw;
    margin: 0 !important;
    font: 3.75vw Avenir-Next;
    margin-bottom: 15px !important;
    border-radius: 3vw;
  }

  .our-programs {
    margin-top: 20vw;
  }

  .op-heading {
    font: Bold 8.86vw Avenir-Next;
    width: 85vw;
    margin: 0 auto;
  }

  .op-description {
    font: 4.5vw Avenir-Next;
    width: 70vw;
    margin: 25px auto;
  }

  .op-options {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  .op-option-block {
    width: 85vw;
    height: max-content;
    box-sizing: border-box;
    margin: 30px auto;
    border-radius: 50px;
    padding-top: 4.2vw;
  }

  .op-option-block img {
    width: 50vw;
    height: 50vw;
  }

  .op-option-block p {
    height: min-content;
    margin-bottom: 0;
  }

  .op-option-block h2 {
    font: Bold 7vw Proxima-Nova;
  }

  .op-option-block div {
    font: 5vw Proxima-Nova;
  }

  .op-option-block button {
    margin : 2rem 0 3rem 0;
    height: 70px;
    width: 200px;
  }

  .sun-burn {
    margin-top: 100px;
    margin: 0;
  }

  .sun-burn h1 {
    font: Bold 9.8vw Avenir-Next;
    width: 95vw;
    margin: 10px auto;
  }

  .sun-burn-detailed {
    flex-direction: column-reverse;
  }

  .success-flame {
    width: 90vw;
    margin: 10vw auto;
  }

  .success-flame img {
    width: 90vw;
  }

  .sun-burn-text h2 {
    font: Bold 6.5vw Proxima-Nova;
    width: 90vw;
    margin: 0 auto;
  }

  .sun-burn-text p {
    font: 5vw Proxima-Nova;
    margin: 20px auto;
  }

  .sun-burn-det-svg {
    flex-direction: column;
  }

  .sun-svg {
    margin: 20px auto;
    display: flex;
    width: 90vw;
    justify-content: space-around;
  }

  .sun-svg img {
    height: 100px;
    width: 100px;
    margin-bottom: 0;
  }

  .sun-svg div {
    font: 5vw Avenir-Next;
    width: min-content;
    margin: 0;
  }

  .intern-opt {
    margin-bottom: 5vw;
    margin-top: 0;
    height: min-content;
  }

  .intern-opt h2 {
    font: Bold 8.86vw Avenir-Next;
    width: 90vw;
    margin: 0 auto;
  }

  .intern-opt p {
    font: Bold 4.5vw Proxima-Nova;
    width: 80vw;
    color: #747474;
    margin: 5vw auto;
    margin-bottom: 0;
  }

  .intern-illustration img {
    width: 90vw;
  }

  .intern-illustration {
    min-height: 80vw;
    width: 90vw;
    margin: 0 auto;
  }

  .company-logo {
    flex-direction: column;
    justify-content: center;
  }

  .company-logo img {
    height: 20vw;
    width: 60vw;
    margin: 1vw 0;
  }

  #AmazonLogo {
    margin-bottom: 0;
    transform: scale(0.9);
  }

  .blogs-brief {
    margin-top: 15vw;
    margin-bottom: 0;
    border-radius: 0;
    box-sizing: border-box;
    width: 100vw;
    padding: 10vw 0;
  }

  .blog-detail-container {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .blogs-brief h1 {
    font: Bold 8.86vw Avenir-Next;
  }

  .blog-structure {
    width: 90vw;
    margin: 0 auto;
    height: min-content;
  }

  .blog-heading {
    font: Bold 7.88vw Avenir-Next;
    padding: 0;
    width: 80vw;
    margin: 15vw auto 8vw auto;
    height: min-content;
  }

  .blog-writer {
    padding: 0;
    height: min-content;
    margin: 0 auto;
    width: 80vw;
    font: Bold 5.5vw Avenir-Next;
    color: #747474;
  }

  .sub-blog-structure {
    display: none;
  }

  .blog-time {
    padding: 0;
    margin: 1vw auto;
    width: 80vw;
    font: bold 5vw Avenir-Next;
    color: #747474;
  }

  .blog-btn {
    margin: 5vw 0 10vw 5vw;
    height: 50px;
    width: 120px;
  }
}

/* Media for tablets */
 @media only screen and (max-width: 768px) and (min-width: 601px) {
  .content-wrap {
    width: 100%;
    padding-top: 80px;
  }

  .ham-menu{
    height: calc(100vh - 80px);
  }

  .list-items ul li,.search-box input{
    font: 200 1.5rem Avenir-Next;
  }

  .search-box i{
    font-size: 1.5rem;
  }

  .get-skills {
   width: 100vw;
   height: 150vw;
   margin-top: 7vw;
  }

  .get-skills-content {
    flex-direction: column;
    align-items: center;
  }

  .get-skills-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .skill-illustrate {
    width: 100%;
  }

  .skill-illustrate img {
    width: 85vw;
  }

  .get-skills-heading {
    font: Bold 8.86vw Avenir-Next;
    width: 85vw;
    margin: 0 auto;
    text-align: center;
  }

  .get-skills-platform {
    font: 4vw Avenir-Next;
    line-height: 5vw;
    width: 60%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .skill-handle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
  }

  #skill-offers,
  #skill-register {
    height: 10.5vw;
    width: 50vw;
    margin: 0 !important;
    font: 3.75vw Avenir-Next;
    margin-bottom: 15px !important;
    border-radius: 3vw;
  }

  .our-programs{
    margin-top: 1rem;
  }

  .op-heading{
    font-size: 3rem;
  }

  .op-description{
    font-size: 1.5rem;
  }

  .op-options {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .op-option-block {
    width: 80%;
    margin: 2rem auto;
  }

  .op-option-block button {
    padding: 1rem;
    height: max-content !important;
  }

  .sun-burn {
    margin-top: 100px;
    width: 90%;
    margin: 0 auto;
  }

  .sun-burn h1 {
    font-size: 3rem;
    width: 90%;
    margin: 3rem auto 0 auto;
  }

  .sun-burn-detailed {
    flex-direction: column-reverse;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
   .sun-burn-det-svg{
     width: 95%;
     flex-wrap: wrap;
     margin: 0 auto;
   }

   .sun-svg{
     margin: 2rem auto;
     padding: 1rem;
   }

  .success-flame {
    margin-left: 0px;
    margin: 5rem auto;
  }

  .success-flame img{
    width: 100%;
  }

  .sun-burn-text h2 {
    font: Bold 2rem Proxima-Nova;
    width: 90vw;
    text-align: justify;
    margin: 0 auto;
  }

  .sun-burn-text p {
    font: 1.5rem Proxima-Nova;
    margin: 2rem 0;
    width: 95%;
    text-align: justify;
  }

  .sun-svg img {
    height: 100px;
    width: 100px;
  }

  .intern-opt{
    margin: 0;
    height: max-content;
  }

  .intern-opt h2 {
    font-size: 3rem;
    width: 100%;
  }

  .intern-opt p {
    width: 80%;
    font-size: 1.5rem;
  }

  .intern-illustration img{
    height: 70%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  #AmazonLogo{
    margin-bottom: -1rem;
  }

  .blogs-brief{
    width:90%;
    margin: 6rem auto 3rem auto;
    border-radius: 1rem;
    padding: 2rem 0;
  }

  .blogs-brief h1{
    font-size: 3rem;
  }
  
  .blog-detail-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .blog-structure, .sub-blog-secondary {
    width: 95%;
    border-radius: 1rem;
    height: max-content;
    padding: 2rem 0;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .sub-blog-structure {
    width: 100%;
    margin: 2rem 0 0 0;
    height: min-content;
  }

  .blog-structure h2, .sub-blog-heading {
    font-size: 2rem;
    text-align:left;
    padding: 1rem;
    margin: 1rem;
    height: max-content;
  }

  .blog-writer{
    font-size: 1.2rem;
    text-align: left;
    padding: 0;
    margin: 1rem 2rem;
    height: max-content;
    width: max-content;
  }

  .blog-time{
    padding: 0;
    margin: 1rem 2rem;
    width: max-content;
  }

  .blog-btn{
    margin: 1rem 2rem;
  }

  .read-more-blogs{
    width: 95%;
    margin: 2rem auto 0 auto;
    border-radius: 0.5rem;
  }
}

/* Media for big tabs */
@media only screen and (max-width: 1200px) and (min-width:769px) {
  .content-wrap {
    width: 100% ; 
   }
  .get-skills-heading {
    width: 100%;
    margin-top: 0rem;
    font: Bold 3.8rem Avenir-Next;
    color: #408cff;
  }
   .skill-illustrate {
     margin-right: 2rem;
     margin-top: 0rem;
  }
   .skill-illustrate img{
     width:100%;
     height:fit-content;
  }


  .get-skills-platform {
    width: 100%;
    margin-top:5rem;
    font-size: 2rem;
  }
 
.skill-handle {
  display: flex;  
  position: absolute;
  margin-top: 40rem;
  width: 95%;
}

.skill-handle button {
  width: 63rem;
  height: 5rem;
  border-radius: 15px;
  font: Bold 21px Avenir-Next;
}

#skill-register {
  background-color: #408cff;
  color: #ffffff;
  margin-right: 1rem;
}

#skill-offers {
  margin-left: 1rem;
  background-color: #ffffff;
  border: 3px solid #464646d6;
  color: #464646d6;
}
  .our-programs{
    margin-top: 15rem;
  }

  .op-options {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .op-option-block {
    width: 80%;
    margin-top: 2vh;
  }

  .sun-burn {
    margin-top: 100px;

  }

  .sun-burn h1 {
    font-size: 4.5rem;
    width: 90%;
    margin: 10px auto;
  }

  .sun-burn-detailed {
    flex-direction: column-reverse;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
 


  .success-flame {
    width: 70%;
   align-items:center;
    margin-top: 5vh;
    margin-right:10rem;
    margin-left:auto;
  }


  .sun-burn-text h2 {
    font: Bold 2.5rem Proxima-Nova;
    width: 90vw;
    margin: 0 auto;
  }

  .sun-burn-text p {
    font: 2rem Proxima-Nova;
    margin: 20px auto;
  }

  .sun-svg img {
    height: 100px;
    width: 100px;
  }
  .sun-burn-det-svg{
     width: 95%;
   }

  .intern-opt h2 {
    font-size: 4.5rem;
    width: 80%;
  }

  .company-logo {
  margin: 5rem auto 10rem auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-logo img {
  margin: 0 auto;
  width: 30%;
  height: auto;
  transform: scale(0.9);
}

#AmazonLogo {
  transform: scale(0.8);
  margin-bottom: -30px;
}
  .blogs-brief {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25rem;
  margin-bottom: 200px;
  border-radius: 114px;
  width: 90%;
  background: transparent linear-gradient(124deg, #9795f0 0%, #fbc8d4 100%);
}

.blogs-brief h1 {
  font: Bold 70px Avenir-Next;
  width: 85%;
  margin: 0 auto 4rem auto;
  color: #ffffff;
}

  .blog-detail-container {
    flex-direction: column;
    align-items: center;
  }

  .blog-structure {
    width: 95%;
  }

  .sub-blog-structure {
    width: 95%;
    margin-top: 5vh;
  }

  .blog-structure h2 {
    font-size: 3.3rem;
  }
  .blog-writer {
    font-size: 1.4rem;
  }
  .blog-time{
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1600px) and (min-width:1201px) {
  .content-wrap {
       width: 90%;
       margin: 0 auto;
   }

  .get-skills-heading {
    width: 100%;
    margin-top: 0rem;
    font: Bold 3.8rem Avenir-Next;
    color: #408cff;
  }
   .skill-illustrate {
     margin-right: 2rem;
     margin-top: 0rem;
  }

  .skill-illustrate img{
    height: 80%;
  }

  .get-skills-platform {
    width: 100%;
    margin-top:5rem;
    font-size: 2rem;
  }


.skill-handle button {
  width: 40%;
  height: 5rem;
  border-radius: 15px;
  font: Bold 21px Avenir-Next;
}
 

#skill-register {
  background-color: #408cff;
  color: #ffffff;
  margin-right: 1rem;
}

#skill-offers {
  margin-left: 1rem;
  background-color: #ffffff;
  border: 3px solid #464646d6;
  color: #464646d6;
}
  .our-programs{
    margin-top: 15rem;
  }

  .op-options {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .op-option-block {
    width: 80%;
    margin-top: 2vh;
  }

  .sun-burn {
    margin-top: 100px;

  }

  .sun-burn h1 {
    font-size: 5rem;
    width: 100%;
    margin: 10px auto;
  }

  .sun-burn-detailed {
    flex-direction: column-reverse;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
 
.sun-burn-text h2 {
  font: Bold 3rem Proxima-Nova;
}



.sun-burn-text p {
  width: 90%;
  font: 3rem Proxima-Nova;
}
  .sun-burn-det-svg{
    width: 90%;
  }

  .success-flame {

    margin-left: 0;
    margin: 5vh auto;
  }

  .success-flame img {
    width: 100%;
  }


  .sun-svg img {
    height: 100px;
    width: 100px;
  }

  .intern-opt h2 {
    font-size: 5rem;
    width: 100%;
  }


  .company-logo {
  margin: 5rem auto 10rem auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-logo img {
  margin: 0 auto;
  width: 30%;
  height: auto;
  transform: scale(0.9);
}

#AmazonLogo {
  transform: scale(0.8);
  margin-bottom: -30px;
}
  .blogs-brief {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30rem;
  margin-bottom: 200px;
  border-radius: 114px;
  width: 90%;
  background: transparent linear-gradient(124deg, #9795f0 0%, #fbc8d4 100%);
}

.blogs-brief h1 {
  font: Bold 70px Avenir-Next;
  width: 85%;
  margin: 0 auto 4rem auto;
  color: #ffffff;
}

  .blog-detail-container {
    flex-direction: column;
    align-items: center;
  }

  .blog-structure {
    width: 95%;
  }

  .sub-blog-structure {
    width: 95%;
    margin-top: 5vh;
  }

  .blog-structure h2 {
    font-size: 3.3rem;
  }
  .blog-writer {
    font-size: 1.4rem;
  }
  .blog-time{
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1800px) and (min-width:1600px) {
  .skill-handle {
  display: flex;  
  position: absolute;
  margin-top: 40rem;
  width: auto;
  }

}