<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edudictive | Add Course</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/index.css">
</head>

<body>

    <form class="container-fluid">
        <div class="dashboard-nav">
            <a href="/">Profile</a>
            <a href="/">My Programs</a>
            <a href="/">Prefrences</a>
            <a href="/">Community</a>
            <a href="/">Help Center</a>
            <a href="/">FAQ</a>
        </div>
        <h1 class="text-center">Training Program - Content Uplaod</h1>
        <div class="row">
            <div class="col-md-6">
                <label for="">Couse Title</label>
                <input type="text" class="form-control">

                <label for="">Couse Title</label>
                <select name="" class="form-control">
                    <option></option>
                    <option value="">Web Development</option>
                    <option value="">Finance</option>
                    <option value="">SSC</option>
                </select>

                <label for="">Mode of Course Delivery</label>
                <select name="" class="form-control">
                    <option></option>
                    <option value="">Web Development</option>
                    <option value="">Finance</option>
                    <option value="">SSC</option>
                </select>

                <div class="col-12 d-flex p-0">
                    <div class="col-6 pl-0">
                        <label for="">Start Date</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-6 pr-0">
                        <label for="">End Date</label>
                        <input type="date" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="">Instructor Name</label>
                <input type="text" class="form-control">

                <label for="">Instructor Email</label>
                <input type="text" class="form-control">

                <label for="">Course Price</label>
                <input type="text" class="form-control">

                <label for="">Course Discount</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="">About the course</label>
                <textarea name="" rows="10" class="form-control"
                    placeholder="Write in no more than 50-60 words"></textarea>

                <label for="">Who should opt for this program</label>
                <textarea name="" rows="10" class="form-control"
                    placeholder="Write in no more than 50-60 words"></textarea>
            </div>
            <div class="col-md-6">
                <label for="">What you will learn</label>
                <textarea name="" rows="10" class="form-control"
                    placeholder="Write in no more than 50-60 words"></textarea>

                <label for="">What you get</label>
                <textarea name="" rows="10" class="form-control"
                    placeholder="Write in points, each starting with * (asterisk) character."></textarea>
            </div>
        </div>
        <div class="row">
            <h1>Course Content</h1>
        </div>
        <div class="row shadow bg-dark">
            <h1>Add a week</h1>
        </div>
        <div class="row">
            <h1>Batch Details</h1>
        </div>
        <div class="row shadow bg-dark">
            <h1>Create a batch</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h1>Audio Preference</h1>
                <div class="d-flex">
                    <div class="col-md-6">
                        <label for="">From</label>
                        <select name="" class="form-control">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="">To</label>
                        <select name="" class="form-control">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h1>Course Banner</h1>
                <label for="">Course Banner</label>
                <input type="file" class="form-control">
            </div>
        </div>
        <div class="row">
            <button type="submit">Submit</button>
        </div>
    </form>
    <%-include('../../Components/Footer.ejs') %>
    <script src="/assets/js/jQuery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>